[2019-08-29 06:35] lpatmo opened #1 "Set up a DRF /resources endpoint"
Guide: https://www.django-rest-framework.org/tutorial/quickstart/

[2019-08-29 06:35] lpatmo opened #2 "Set up a page using React"

[2019-08-29 06:44] lpatmo opened #3 "Create instructions for new contributor expectations, requirements, environments, and setup."

[2019-08-30 05:32] lpatmo opened #4 "Possible user story (draft)"
As a user, I'll be like:
1/ "I want to learn Python!"
2/ Search for all resources tagged python
3/ Filter resources by paid/level
4/ Bookmark the ones that look interesting
5/ Click into a group and find ideas of hangout pairing proposals. Also be able to start a discussion thread for the group.
6/ See list of other users who joined that group, and their timezones
7/ See all the resources listed u

[2019-08-30 05:48] lpatmo commented on #4
I’m also interested in exploring naming — e.g. if we should rename the “Schedule hangout” button to “Schedule pairing session,” or something.
Something I didn’t really clarify earlier is that I’m pretty excited about the concept of scheduling  hangouts from a calendar view instead of from a form/modal where you have to pick out the date and time, like it was an event.
My inspiration there comes fr

[2019-09-05 19:01] brylie commented on #2
Not to start a :fire: war, but could we please maybe discuss the *possibility* of using Vue for this project?

[2019-09-06 16:29] lpatmo commented on #2
@brylie Yes, I will create a new repo specifically for Vue exploration! (I don't have that background, but others might want to explore/share)

[2019-09-06 18:07] brylie commented on #3
Some requirements may be missing, such as `vine`:

[code]

[2019-09-06 18:08] brylie commented on #3
It is not clear how to connect to the Postgres databse. What should the username and password be?

[code]

[2019-09-06 18:14] brylie opened #5 "ModuleNotFoundError: No module named 'vine'"
When trying to run initial migrations, I get the following error:

[code]

This may be related to a pinned dependency version for celery < 5.0:

https://github.com/celery/celery/issues/3547

[2019-09-06 18:15] brylie commented on #5
It may be good to unpin these versions, or at least use Pipenv to manage the dependency lockfile.

[2019-09-06 19:00] brylie opened #6 "Initial Resources model and admin form"
Create the initial Resource model and register it with the Django Admin.

[2019-09-19 00:46] lpatmo commented on #1
Both @BethanyG and @brylie picked up on this -- will schedule a hangout to sort out the different patterns.

[2019-09-19 00:47] lpatmo opened #9 "Initial data for Resources model"
[code]

[2019-09-20 09:34] brylie opened #11 "Use Pipenv for dependency management"
It may be helpful to use Pipenv rather than just `pip` for dependency management. This is namely because project dependency updating is made simpler by Pipenv, along with a few other niceties like automatically initializing environment variables when activating the virtual environment.

[2019-09-20 09:35] brylie commented on #9
I think this should be represented internally, in Django, by a `ManyToMany` relationship, and then serialized to JSON in the API endpoint.

[2019-09-20 09:36] brylie commented on #1
I will defer to @BethanyG here, but am exited to help with peer review and other coding tasks :-)

[2019-09-21 06:56] lpatmo opened #12 "Add instructions for setting up postgres locally (for new contributors)"
Some of my notes from when I set it up locally (with @BethanyG's help):

[code]

I'll need to double check exactly what I did. Luckily I still have the recording of it!

[2019-09-21 07:23] brylie commented on #12
By the way, are we publishing codebuddies related hangouts on a particilsr channel or keyword tag? It would be cool to see all the Codebuddies content somehow related.

I am live-streaming on Twitch then uploading to YouTube, and can add a Codebuddies tag to the uploads. It would also be good to know how to use Twitch for Codebuddies hangouts.

[2019-09-21 23:18] lpatmo commented on #12
I've been forwarding Twitch streams on twitch.tv/codebuddies over to CodeBuddies' YouTube channel on https://www.youtube.com/channel/UCOBp46r9_g8kKRCc0y-rJVg.

That sounds great, thanks! I'm not entirely sure how to search on Twitch by tag -- e.g. if I type "codebuddies" here it only brings up my videos from twitch.tv/codebuddies, not yours that you've tagged #codebuddies.

![image](https://user-i

[2019-09-23 22:54] BethanyG commented on #11
Since we will have programmers that will be using `conda`, `virtualenv`, `venv`, and many others , I don't think we want to force any of them to use `pipenv` over what they may already be accustom to.  I'd rather have a "lowest common denominator" that anyone can then adapt to their preferred env management style.  @lpatmo  -- thoughts on this?

[2019-09-23 22:57] BethanyG commented on #5
This was an oversight by Linda and myself.  We intended to remove celery until we were further along, but then created issues when we didn't remove all the dependancies.  The requirements.txt file as now been updated with the original dependancies, so I am going to close this for now.  I will take a look at the pinned versions to make sure we have a reasonable minimum.

[2019-09-23 22:57] #5 closed

[2019-09-23 23:01] BethanyG opened #13 "Provide Documentation on Managing Secrets Through ENV Vars for Django"
We need to provide documentation for new users on how to manage things like DB connection information and passwords through ENV variables, since the next version of the prototype will have them.

[2019-09-23 23:04] BethanyG commented on #12
Some additional links:

**Postgres in Docker**:  https://hackernoon.com/dont-install-postgres-docker-pull-postgres-bee20e200198

**Postgres How-Tos**: http://postgresguide.com/setup/install.html

[2019-09-23 23:06] BethanyG commented on #9
Closing this until tagging is resolved.  Will add a new issue and data at that stage.

[2019-09-23 23:06] #9 closed

[2019-09-23 23:07] BethanyG commented on #6
Closing this as superseded by #8.

[2019-09-23 23:07] #6 closed

[2019-09-23 23:09] BethanyG commented on #3
Linking #12 and #13 here, as they apply to New user setup.

[2019-09-24 03:42] lpatmo commented on #11
Is there any way to make `pipenv` optional, or does its presence in the codebase necessitate a particular configuration setup when someone forks the repo and tries to set up their dev environment for the first time?

I'm a little hesitant to commit to pipenv based on what I'm reading at https://chriswarrick.com/blog/2018/07/17/pipenv-promises-a-lot-delivers-very-little/, and generally agree with B

[2019-09-24 06:52] brylie commented on #11
Pipenv uses pip underneath, and we can still maintain a requirements.txt. So, in that regard it is less disruptive than, say, conda.

[2019-09-24 07:00] brylie commented on #11
Pipenv uses pip underneath, and we can keep `requirements.txt` around for lowest common denominator use cases. Pipenv just [gives us a helping hand in a few ways](https://github.com/pypa/pipenv#-features), like clean dependency management, automatically activating environment variables, and simpler semantics for environment setup.

There will always be detractors, and the same Google search can li

[2019-09-24 07:10] brylie commented on #13
This is one place where Pipenv tool and .env file would streamline the process. E.g. we can provide a `.env.example` that the developer can modify and save as `.env`.

[2019-09-24 07:15] brylie commented on #6
Ah, this issue will actually be *closed* by #8, and might remain open until #8 is merged.

The issue can automatically be closed by using GitHub issue keywords:
https://help.github.com/en/articles/closing-issues-using-keywords

[2019-09-24 07:16] brylie commented on #6
E.g. just add `Closes #6` in the pull request description.

[2019-09-24 07:17] BethanyG commented on #11
I have no problem with `pipenv`, should someone want to use it.  I do, however have a problem with it being required for development and being an additional set of files to keep updated.   Many developers use conda/Anaconda (I do - among other tools).  Many also use docker and no `venvs` at all.  How a contributor reproduces the env should not be an issue or a roadblock.  I also would have a probl

[2019-09-24 07:26] BethanyG commented on #13
It could, but for developers that don't use `pipenv`, we'll need a more general rundown.

[2019-09-25 07:09] brylie commented on #11
It is not the intention of this issue to start a flame war nor limit developer freedom, and we are certainly free to disregard this request (no worries :smile:).

That said, it is also worth considering that having [one, obvious way](https://www.python.org/dev/peps/pep-0020/), meaning clearly documented, to set-up a development environment can be liberating, particularly for new developers. By way

[2019-09-25 07:24] lpatmo commented on #11
Thanks @brylie and @BethanyG for your input! This is tough, since I agree with points both of you have made. :) In particular:

At the moment, it seems like whether we use it or not isn't an urgent matter. Can we give it some time to think about it some more (also for me to familiarize myself better with the benefits of making it standard)?

In terms of django-exploration, also feel like this ques

[2019-09-25 08:10] lpatmo opened #16 "Tagging in the DB"
Pulled from a PR conversation:

@BethanyG:

Agreed. The classic way to model something like this would be with a many-to-many and a Tags table. This was more a quick nod to the API specs, as well as an experiment with postgres JSONB capabilities. So a bit of a hand-wave.

But as this system grows, I do have a few concerns/caveats with a "simple" many-to-many Tags table:

Tags will most likely be a

[2019-10-06 09:31] brylie commented on #16
@lpatmo thanks for carrying this discussion forward as a separate issue. @BethanyG thank you for your excellent work on the DRF prototype, and for prompting the interesting inquiry into data modelling using JSONB in a relational context :-)

These are the main reasons I believe we should use a many-to-many relationship for tags:
- many-to-many for taxonomy is a conventional and well-paved path
- s

[2019-12-25 19:42] BethanyG opened #18 "Set up JWT authorization & tests."
Set up JWT authorization on the DRF backend & test to make sure it's implemented correctly.  This includes:

- [X]  Installing the necessary components & updating the `requirements.txt` file.
- [X]  Changing `base.py` settings to add DRF permission classes, CORS origin whitelist entries, and JWT_AUTH parameters.
- [X]   Creating a `auth` endpoint for requesting JWT tokens with a username and PW
-

[2020-01-07 04:24] lpatmo opened #19 "[API] Endpoint for creating a new resource"
We need a `resources/create` endpoint that accepts the following JSON body:

[code]

POSTing to `resources/create` should result in new resource being created.

[2020-01-07 04:31] lpatmo opened #20 "[API] Endpoint for editing (PATCHing) a resource"
We need a `resources/{resource_id}` endpoint that accepts the following JSON body:

[code]

Making a PATCH to this endpoint should result in the resource that was IDed being updated.

[2020-01-07 04:46] lpatmo opened #21 "[API] Endpoint for deleting a resource"
We need to create a `/resources/{resource_id}` endpoint that accepts the following body:

{
      "id": "7e08e0b0-da77-11e9-95c3-d20089b01401"
}

Making a DELETE request to resources/{resource_id} should result in the resource being deleted.

[2020-01-07 09:15] BethanyG commented on #1
Closing this in favor of issues  #19 , #20 , & #21.  The read endpoint is done.

[2020-01-07 09:15] #1 closed

[2020-01-07 09:51] BethanyG commented on #19
Turns out, this is already taken care of since the read endpoint was also set up to accept POST.  You can create a resource by POST-ing to `/api/v1/resources/`.  As currently set up, you will need a valid JWT token in your header in this format:

[2020-01-07 10:09] BethanyG commented on #19
I'll leave this open for now..just in case I am missing something.

[2020-01-07 11:32] BethanyG commented on #20
Apologies.  I couldn't help myself.  This is fixed by https://github.com/BethanyG/django-concept/tree/issue-20, but leaving it open for now pending discussions of  access/auth/naming.

[2020-01-07 11:45] BethanyG commented on #21
@zashary -- if you fork https://github.com/BethanyG/django-concept/tree/issue-20, it should have all the changes to get you started.  Recommend Postman (https://www.getpostman.com/), postwoman (https://postwoman.io/), or if you like the command line cURL for testing.

[2020-01-07 11:52] BethanyG commented on #18
Currently coded in (https://github.com/BethanyG/django-concept/tree/issue-18) but missing tests, so I'm not going to do a pull request until those are complete.

[2020-01-07 12:20] BethanyG opened #22 "[API] Set up "Dynamic" Search for `api/v1/resources/`"
Currently,  `api/v1/resources/` uses `filters.SearchFilter` as its filter_backend.  This particular filter does a search on all fields for the requested parameters, which is not granular enough for our search needs.

As in this article:  https://medium.com/better-programming/how-to-make-search-fields-dynamic-in-django-rest-framework-72922bfa1543? we need to make this api endpoint more dynamically

[2020-01-08 00:42] BethanyG commented on #19
DRF does provide an automatic `create/` endpoint, but it only accepts **PUT** requests, and I can't seem to figure out how to make it play nice without completely customizing the router class.

[2020-01-08 01:06] bengineerdavis commented on #11
There are some serious [reliability issues](https://github.com/pypa/pipenv/issues/4070) and [readability](https://pipenv-fork.readthedocs.io/en/latest/basics.html#example-pipfile-lock) issues with pipenv. Specifically, the massive amount of open issues within the forked project by PyPA:

[331 open issues as of this post](https://github.com/pypa/pipenv/issues)

Specifically, that there is a concens

[2020-01-08 01:11] bengineerdavis commented on #11
I have recently--thanks to the recommendation of some of our community members--had great success with [pip-compile-multi](https://github.com/peterdemin/pip-compile-multi) in some of my personal projects. This is an abstraction on top of [pip-tools](https://github.com/jazzband/pip-tools), another dependency tool that helps to self-document dependencies is a much more readable way, and keeps closer

[2020-01-08 01:35] bengineerdavis opened #23 "Cannot access dockerized local Postgres container from Linux machine"
Referring to #12 and #3.

On Fedora 30, I'm having issues using command from [hackernoon article](https://hackernoon.com/dont-install-postgres-docker-pull-postgres-bee20e200198) references in #12.

Ran `docker run --rm   --name pg-docker -e POSTGRES_PASSWORD=docker -d -p 5432:5432 -v $HOME/docker/volumes/postgres:/var/lib/postgresql/data  postgres`

Resulted in a hash. No container present when I

[2020-01-08 02:32] lpatmo opened #24 "Rename model fields"
Formerly named:
- credit, referrer

Add:
[code]

[2020-01-08 02:43] angelocordon commented on #23
If your Postgres is running in a Docker container, I believe you have to run any psql commands against Docker (docker exec container-name psql, or something like that)

[2020-01-08 02:49] #4 closed

[2020-01-08 03:41] bengineerdavis commented on #23
@angelocordon I had a feeling that maybe I should open up a terminal inside the container. However, @lpatmo did confirm that `psql -h localhost -U postgres -d postgres` works from outside the container, since we're logging into it like a remote db.

[2020-01-09 05:55] BethanyG commented on #24
Quick question/clarification on this.   is `referring_user` a second codebuddies user in our system, or just a person who may have suggested the resource to the user **entering** the resource in the system?    The reason I ask is because if it is an additional codebuddies user, we should model this as a second foreign key into the users table, and not leave `referring_user` as a text field.  And i

[2020-01-09 06:01] BethanyG commented on #24
Just for complete context, this is the full `Resource` Record:

[code]

[2020-01-09 06:35] angelocordon commented on #24
Is the user and the referring_user the same
thing in this case?

[2020-01-09 06:41] BethanyG commented on #24
That's what I need clarity on.

[2020-01-09 06:44] angelocordon commented on #24
IMO, then yes I agree with your initial thoughts of removing the field. I’m not sure why we’d need a second user; I’m inclined to say that one can’t share a resource without being a cb user, if that makes sense.

[2020-01-09 06:48] BethanyG commented on #24
totally.  I just don't know if it's also desirable to have a field that gives credit to whomever told the cb user about the resource in the first place.  That was the original name of that feild:  credit.  But credit is a confusing name, so referring_user was an attempt to clarify it   (I think).

[2020-01-09 12:39] #11 closed

[2020-01-09 12:39] brylie commented on #11
Closing as "wontfix" :-)

[2020-01-09 17:13] lpatmo commented on #24
Ah yeah, referring_source might be a better name. It shouldn't be a user
id. It's whoever (or whatever) you want to give credit to for that
resource, but user is the one submitting the resource. Thanks for flagging!

On Wed, Jan 8, 2020, 10:48 PM BethanyG <notifications@github.com> wrote:

[2020-01-10 00:06] BethanyG commented on #24
ok.  named it `other_referring_source`.  Will commit it to the `issue-24` branch.

[2020-01-10 01:22] lpatmo commented on #24
Thanks!

On Thu, Jan 9, 2020 at 4:06 PM BethanyG <notifications@github.com> wrote:

[2020-01-10 04:44] billglover commented on #24
When I originally mocked the `Resource` my intent was to use referred to capture how I found out about the resource; a link to a tweet, the url of a blog post or comment, the twitter handle of a person.

The reason I thought this helpful is that I often get round to reading or watching resources weeks or months after I found them and if they are useful I like to share with others and thank or give

[2020-01-10 04:47] lpatmo commented on #24
Yes, that makes a lot of sense. And ++ why it should be a string and not refer to a user ID.

[2020-01-10 07:11] BethanyG opened #25 "UUID for Tags??"
Putting this here for discussion.  As currently modeled, our Resources have a JSON field with tags that have a UUID and a text string.  We may decide to change this, but for now that is the model.  The current UUIDs are below.  Should we continue in this pattern, or should we not assign UUIDs to tags?

UUID | Tag Name
-- | --
20fba58a-2702-4378-b0f9-5ac0193d4965 | Django
32cd4ddc-6a8e-48b2-be60-45

[2020-01-10 18:44] BethanyG commented on #24
So I think keeping both the `referring_url` (which goes through a URL validator) and `other_referring_source` (which is a text field that can hold anything) sounds good to me.

That way, if the referrer is a URL - we have it, and if the user feels like they should be crediting something else (like a conference or meetup talk or covo with someone) - they have the flexibility to do so with the `othe

[2020-01-10 21:27] lpatmo commented on #24
Sounds good to me too! Thanks for starting the convo to clarify.

On Fri, Jan 10, 2020, 10:44 AM BethanyG <notifications@github.com> wrote:

[2020-01-11 09:05] brylie commented on #25
I think we should let django-taggit take care of tags for us.

[2020-01-11 10:49] brylie opened #26 "Clean up "cbv3" Python environment from repository"
There is a folder in the repository root called "cbv3". It appears to be a local Python virtual environment. The virtual environment was likely checked in by accident, as it is unconventional to keep Python virtual environments under revision control.

## Task
- [x] Remove the "cbv3" Python environment from the repository

[2020-01-11 10:57] brylie opened #27 "Add instructions to README for using Python virtual environment"
Related to #3

The README currently says to run `pip install -r requirements.txt`. However, this by default will install all packages in the global Python namespace. It is more common to use a virtual environment to prevent package conflicts. Since we are not in consensus about using any higher-level Python dependency management library, let's just add instructions for using the default Python `ve

[2020-01-11 11:05] brylie opened #29 "Add default GitHub Python .gitignore"
There are some everyday things to put in a .gitignore file for a Python project. So, GitHub offers a default template.

## Task
- [ ] Add the default GitHub .gitignore file to this project

[2020-01-11 11:22] brylie opened #30 "[File restructuring]Move project files to repository root"
Several files were added to the project, probably by Cookiecutter Django, in a sub-directory, such as the LICENSE and .gitignore files. It is conventional to keep these files in the repository root.

It might be simpler to move all of the project files, keeping the sub-structure, to the project root.

## Task
- [x] Move all project files under the `cbv3_django_prototype` directory to the repositor

[2020-01-11 11:36] brylie commented on #29
It turns out we already have a .gitignore file in the "cbv3_django_prototype" directory. This issue is now superseded by #30

[2020-01-11 11:36] #29 closed

[2020-01-11 12:44] brylie opened #31 "[File restructuring]Django apps should be defined in project root"
Currently, this project is defining some Django apps in the `cbv3_django_prototype/cbv3_django_prototype` sub-directory. The `project_name/project__name` sub-directory is conventionally used for project-wide configuration. The Cookiecutter Django project may recommend a different file structure, but it is not apparent from a quick search of the documentation. However, running `python manage.py sta

[2020-01-11 13:12] brylie opened #32 "Enable Django REST Framework default API portal"
Django REST Framework (DRF) will auto-generate a [browsable API portal](https://www.django-rest-framework.org/topics/browsable-api/) for developers to quickly try out API endpoints. This API UI helps developers to quickly experiment with the API.

## Task
- [ ] Enable DRF browsable API UI

[2020-01-11 14:01] brylie opened #34 "Add fixtures for quickly generating dummy content"
New developers will typically want some dummy content, so they can test API calls, etc. Django makes it fairly easy to [define project fixtures](https://docs.djangoproject.com/en/3.0/howto/initial-data/).

## Task
- [ ] Generate fixtures for existing project models

[2020-01-11 14:30] brylie opened #35 "Allow developers to use local SQLite file instead of PostgreSQL"
Currently, Codebuddies README says it is necessary to install PostgreSQL in order to develop the project. This may prove as an unnecessary barrier to entry, particularly for the prototypal nature of the project in its current state. Until this project is more mature (and possibly deployed at some staging server), we should allow local development to proceed with a simple SQLite database.

## Task

[2020-01-12 00:26] BethanyG opened #36 "Set up a Black Configuration for Coding Standards"
If we're going to require Black, we need to set up a configuration for  it that contributors can install and use.

[2020-01-12 00:27] BethanyG opened #37 "Craft Installation and setup instructions for Black"
If we are going to require Black for coding standards, we need to write some documentation on how to install, configure, and use Black for our project.

[2020-01-12 00:31] BethanyG opened #38 "Write up instructions on how to load User and Resource Fixtures for Development"
We have some User and Resource data files (_fixtures in Django-speak_) that can help with populating dev dbs with some starter sample data.  We needs some instructions for new contributors on how to load these files after setting up the environment.

[2020-01-12 00:35] BethanyG commented on #26
Going to take this.  This env is from @lpatmo, who checked it in by accident.  She's traveling atm and cannot make code commits.  This will be removed in the PR connected to `issue-24`.

[2020-01-12 00:39] BethanyG commented on #35
Closing this as not fixing.  We have decided to use postgres, and we are moving toward having a setup that uses a dockerized dev setup.  We will be working toward deploying this on a staging server shortly, once @lpatmo  is back from traveling, and we've discussed the front end a little more.

[2020-01-12 00:39] #35 closed

[2020-01-12 00:41] BethanyG commented on #34
Already created through work on issue-20, issue-24, and others.  Will be in forthcoming PR request when tests on API endpoint have been added.

[2020-01-12 00:41] #34 closed

[2020-01-12 00:42] BethanyG commented on #32
This is also already completed via issue-20, issue-24 and others.  The master branch is not up to date.  Please see the other issues in this repo for details.

[2020-01-12 00:42] #32 closed

[2020-01-12 00:42] brylie commented on #34
Ok. It might be reasonable to leave this issue open util there is a related pull request.

[2020-01-12 00:42] brylie commented on #32
Ok. Is there a related pull request?

[2020-01-12 00:44] brylie commented on #26
I have already opened a pull request: #28

[2020-01-12 00:56] BethanyG commented on #27
Closing this as a full duplicate to issue-3.

@brylie - if you have additional things to add related to #3, please do it there to avoid extra noise and confusion. We can edit the title of that issue for clarity, and add a checklist if you have concerns around specific items.

We've had multiple slack and hangout discussions at this point around setup, and we don't have a single place where we've w

[2020-01-12 00:56] #27 closed

[2020-01-12 00:58] BethanyG commented on #37
Taking my own advice and moving this to issue-3.  No need for extra issues around setup.

[2020-01-12 00:58] #37 closed

[2020-01-12 00:59] BethanyG commented on #36
closing in favor of adding this to issue-3.

[2020-01-12 00:59] #36 closed

[2020-01-12 01:01] brylie commented on #27
Ok. Issue #3 just doesn't have any description. I think it would be relatively easy to leave this issue open, as it is fairly specific and small in scope. The pull request that closes #3 can also close this issue, and we will be assured that the README contains instructions for creating a virtual environment.

[2020-01-12 01:02] brylie commented on #37
Taggong #3 for cross-reference.

[2020-01-12 01:08] brylie commented on #3
Since so many issues arebeing consolidated into this issue, it is increasingly important that we add a description and checklist with all of the desirrd elements to add to the README. That will help ensure that nothing falls through the cracks. I.e. please don't close an isdue without bringing over the contextual information.

In general, though, it is OK to have multiple small, focused issues to

[2020-01-12 01:20] brylie commented on #3
Also note that you didn't close #12 & #14 when linking them to this issue. Please re-open #27, since it is fairly descriptive.

[2020-01-12 02:46] BethanyG commented on #26
All yours then.  Please assign issue you are working on to yourself so everyone is (more or less) clear on who is up to what.

[2020-01-12 02:47] BethanyG commented on #38
Closing this as well. It should be under general setup instructions/organization/checklist.

[2020-01-12 02:47] #38 closed

[2020-01-12 02:49] BethanyG commented on #25
This is less about prototyping data and more about if we want to use a UUID as a `pk` for each tag - irrespective of weather or not we are using a tagging table or JSONB, and I parked them here so that they wouldn't be buried inside a google sheet.

[2020-01-12 02:57] BethanyG commented on #32
CORRECTION:  While `issue-20` and `issue-24` do have the most up-to-date code for JWT, etc.  The browsable API is already active by default even in master.  So this should already be available.

[2020-01-12 03:05] BethanyG commented on #13
Closing this in favor of consolidating setup issues in one place.    Please see issue #3 .

[2020-01-12 03:05] #13 closed

[2020-01-12 03:05] BethanyG commented on #12
again, attempting to consolodate setup issues in one place.  Please see issue #3

[2020-01-12 03:05] #12 closed

[2020-01-12 03:14] BethanyG commented on #3
Yeah. Agreed. This whole chain is now a mess.  I will open a meta-issue with a clear description, and re-link issues there and add a checklist.

[2020-01-12 10:26] brylie commented on #3
K. We can also relax a bit on closing issues. There are less than 20 open issues for this project.

[2020-01-12 10:28] brylie commented on #26
I can't self-assign, as I have not been added to this repository as a collaborator.

[2020-01-12 10:29] brylie commented on #32
Ah, I couldn't access the API interface. What is the route?

[2020-01-12 10:35] brylie commented on #25
Makes sense. I can't think of a reason why UUID would be important for tags, as sequential keys should be fine. E.g. we are probably not concerned with people being able to guess an active tag ID and use via an API request, sense tags are a discoverability mechanism.

What is the reasoning for using UUID on the Resource model? Will we have hidden or private resources? Are we worried about web-scra

[2020-01-12 14:15] BethanyG commented on #32
Since tests are still in process (_hence so is the PR_), please use https://github.com/BethanyG/django-concept/tree/issue-24/cbv3_django_prototype.  That brach includes both fixtures for `Users` and `Resources`, as well as JWT auth code.

Viewing `Resources` requires a Token.  The easiest way to get one saved in your browser session is to visit `/auth/obtain_token/` and fill in the username and pa

[2020-01-12 14:45] BethanyG opened #39 "`django-rest-framework-jwt` is Unmaintained as of 8/2019 Replace"
Since we followed a link from the DRF docs and a related tutorial directly to PyPI (where the status is not listed), we missed that https://github.com/jpadilla/django-rest-framework-jwt is **unmaintained** a of 8/2019.  See issue https://github.com/jpadilla/django-rest-framework-jwt/issues/484.  We will now need to replace it.

One recommended route is to ~~use https://github.com/davesque/django-r

[2020-01-12 14:55] BethanyG commented on #39
Thoughts on which way we'd like to go?  Should we use the drop-in replacement, or switch to the simplejwt lib?  Rude trick not making the status clear on PyPI.

[2020-01-14 03:51] #26 closed

[2020-01-14 10:02] lpatmo commented on #2
(Going to close this -- as a React app at https://github.com/codebuddies/react-concept will be feeding from the API endpoints created by this Django app)

[2020-01-14 10:02] #2 closed

[2020-01-14 10:06] lpatmo commented on #3
Agreed -- I'm learning this too re: Jira tickets at work. We could adopt something like an `acceptance criteria` template. Will look into editing the issue templates next. Also, apologies for not writing a description on the original post here! Since this thread has gotten meta I'll close this and make sure another issue is clearly open re: setup instructions.

[2020-01-14 10:06] #3 closed

[2020-01-14 10:07] lpatmo commented on #18
Update: the latest is in https://github.com/BethanyG/django-concept/tree/issue-24

[2020-01-14 10:13] lpatmo commented on #19
Do you mean that you want to make it accept PATCH requests instead of PUT?

I'm tempted to close this issue since I've tested that POST requests will work. :)

[2020-01-14 10:20] lpatmo commented on #26
@brylie I will invite you to the org as a collaborator. Thanks for deleting those files! As I mentioned in the review, I meant to get to them earlier.

[2020-01-14 10:29] lpatmo commented on #39
Good catch! I vote to use the drop-in fork at https://github.com/Styria-Digital/django-rest-framework-jwt. :)

[2020-01-14 10:37] lpatmo opened #40 "[Documentation] Linux setup"
## Context
In a hangout last week, @bengineerdavis and I discussed documenting some Linux-specific setup instructions for this project, assuming setting up postgres in a docker container is doable.

## Acceptance Criteria
- [ ] Add to the README.md a section re: Linux-specific instructions for getting the Django app running and a Docker Postgres instance running.

[2020-01-14 10:41] BethanyG commented on #25
Closing this as no longer relevant.

[2020-01-14 10:41] #25 closed

[2020-01-14 10:55] lpatmo opened #41 "[Enhancement] Dockerize everything for dev env setup?"
## Context
A couple of people (@bengineerdavis, @d3vild06) have brought up/asked about docker-izing the entire app with docker-compose. My take was that I didn't think it was necessary, unless the benefits (easier setup) is very clear. @billglover explored it, and recorded a screencast of it here: https://codebuddies.slack.com/archives/C04BRN86J/p1578770421053800. @kennethlove offered some suggest

[2020-01-14 11:00] BethanyG commented on #39
I think I am going to do just that....at least for now.

[2020-01-14 12:53] BethanyG commented on #24
Pulled these changes back into my for before starting the tests, so they are included in the pull request.

[2020-01-14 12:55] BethanyG commented on #21
This fixed by the PR above - apologies - once the endpoint was set up correctly, DELETE was automagically supported.

[2020-01-14 13:27] BethanyG opened #43 "[API] Model and Serializer Changes in Support of Taggit."
Resource model and serializer changes needed to support taggit.

- [x] Remove JSONB field from Resources model
- [x] Alter Resource model to include taggit manager as show [here](https://django-taggit.readthedocs.io/en/latest/getting_started.html) &  [here](https://medium.com/sthzg/a-short-exploration-of-django-taggit-bb869ea5051f)
-  ~~Customize through model to support the non-int (UUID) PK for

[2020-01-14 18:35] billglover commented on #41
Happy to pick this up.

Have removed the documentation label as this requires the addition of a `Dockerfile` and probably a `docker-compose.yaml`.

[2020-01-14 18:37] billglover commented on #41
For reference, this is the link to suggestions by @kennethlove: [Docker for Django](https://github.com/kennethlove/kennethlove.github.io/blob/master/content/posts/docker-for-django.md)

[2020-01-14 21:13] #16 closed

[2020-01-14 21:30] BethanyG commented on #43
Will related tags be returned as part of a request for resources?  If yes, will they be in the same format as noted elsewhere, or is the spec for that changing?

[2020-01-14 21:48] lpatmo commented on #23
Huh... maybe this issue isn't linux-specific. I got the same problem on OSX just now:

[code]

[2020-01-14 22:06] BethanyG commented on #23
According to this issue, the order of the commands might screw things up (although it doesn't on my OSX machine, and I have no idea why):  https://github.com/docker-library/postgres/issues/592

Try switching things around to:

`docker run --rm -d -p 5432:5432 --name pg-docker -e POSTGRES_PASSWORD=docker -v $HOME/docker/volumes/postgres:/var/lib/postgresql/data  postgres`

[2020-01-14 22:12] lpatmo commented on #43
In React, I expect each tag to be a link -- e.g.

<a href="/tags/javascript">javascript</a>. To that end, maybe we'd want this structure returned in the JSON:

[code]

[2020-01-14 23:01] BethanyG commented on #43
Is `slug` intended to be a unique name or other identifier?

[2020-01-14 23:04] BethanyG commented on #19
Unless we have our hearts set on a specific `api/v1/resources/create` path that accepts POST I am inclined to agree with you:  we close this, and call it done with `api/v1/resources/` accepting POST requests.

[2020-01-14 23:10] lpatmo commented on #43
Slug should be a unique identifier. It might be easier for it to be a number since that's what taggit gives us naturally, right?

[2020-01-14 23:14] lpatmo commented on #19
Sounds good! Closing.

[2020-01-14 23:14] #19 closed

[2020-01-15 00:00] lpatmo opened #45 "Requirements/base.txt cleanup"
## Context
base.txt seems to hold some artifacts of a pip freeze at the moment, including a `pkg-resources=0.0.0` package that needs to be removed.

## Acceptance criteria
[ ] Remove the `pkg-resources=0.0.0` package
[ ] Clean up base.txt

[2020-01-15 00:09] #45 closed

[2020-01-15 01:18] BethanyG commented on #43
taggit appears to assign an int id internally, yes.  Need to read a little more about what options there are.

[2020-01-15 08:01] BethanyG commented on #18
Can we close this now that it has been merged, or are there issues we'd like to hold it open for?

[2020-01-15 08:02] BethanyG commented on #24
Going to close this as completed for this context.

[2020-01-15 08:02] #24 closed

[2020-01-15 08:07] BethanyG commented on #43
Going to assign this to myself as  a think-through of changes, but would welcome other approaches.  Also would welcome more tests!

[2020-01-15 09:22] BethanyG opened #48 "[Testing]Rewrite Application Tests to Use Factory-Boy"
The current Application tests load Fixture data for JWT and Resource testing.  These should now be re-written to use Factory Boy (or Model Mommy), so that they are not dependent on static or moldy  data.

[2020-01-15 09:39] #21 closed

[2020-01-15 09:39] lpatmo commented on #18
Yes, let's close this! (Thanks for being on top of it)

[2020-01-15 09:39] #18 closed

[2020-01-15 09:40] #20 closed

[2020-01-15 09:40] #39 closed

[2020-01-15 09:43] lpatmo commented on #23
@bengineerdavis Earlier this afternoon I got the same error, and it turned out that:

1/ I had too many postgres images (which I ended up deleting)
2/ I had docker pulled postgres 12 (latest) instead of doing `docker pull postgres:11.1`

I updated https://github.com/codebuddies/django-concept/wiki/Contribution-instructions to the best of my ability, but something that would be more useful is proba

[2020-01-16 08:19] billglover commented on #41
Would be nice to re-name the app from `cbv3_django_prototype` to `app`. Any thoughts on this?

[2020-01-16 08:28] lpatmo commented on #41
Haha, that's an excellent idea. I'll file a Github ticket for it. The renaming (including the parts that need to be changed in the Dockerfile) could be all done in one go/one PR without any problems, right?

[2020-01-16 08:53] billglover commented on #41
Yeah, probably best to do this as a separate issue.

[2020-01-16 08:53] billglover commented on #41
Running into conflicting migrations with the latest merge. They aren't related to Docker, but I'll try to get this fixed so that we have a clean starting point.

[2020-01-16 09:10] lpatmo commented on #41
Oof, I remember Bethany saying she ran into issues with migrations too (near the end of the thread at https://codebuddies.slack.com/archives/C04BRN86J/p1579044879187600). I didn't because I had a clean install with no data and no migration files.

Heading to sleep now, but let me know if you need help!

[2020-01-16 15:14] billglover commented on #41
I don't think it was that as I removed my database entirely before starting. Either way, migrations issue should be resolved and PR #44 should work. An edge case we may want to cover in documentation is that you'll need to ensure you don't have anything running that is already listening on these ports, e.g. an existing PostgreSQL install.

[2020-01-16 15:25] billglover commented on #40
Does this get resolved by #41?

[2020-01-16 16:05] BethanyG commented on #48
Curious as to why this is an enhancement?  These tests are broken in current code.

[2020-01-16 18:18] bengineerdavis commented on #40
@billglover Just talked to @lpatmo and will confirm setup for Fedora 30 over at #41.

[2020-01-16 18:27] lpatmo commented on #41
Thank you! Agree on making a note about the edge case. Will be able to pull
and look later tonight.

On Thu, Jan 16, 2020, 7:14 AM Bill Glover <notifications@github.com> wrote:

[2020-01-16 23:19] wuworkshop commented on #40
So who will be testing this on Windows? 😅 I always feel bad that Windows users tend to get the short end of the stick.

[2020-01-17 05:55] BethanyG commented on #43
oof.  accidentally deleted comment above when I meant to edit it!  Taggit is assigning numeric ids _internally_, but the `slug` field in the admin interface is populating with a lower-cased version of whatever is typed in.  Leaving it for now.  Would need to do a little work to see what other options we have for slug, and if we'd want to use them.

[2020-01-17 08:34] lpatmo commented on #40
Good question! @nuageklow If I remember correctly, you are on Windows? If so, any chance you'd like to test https://github.com/codebuddies/django-concept/pull/44?

[2020-01-17 08:47] lpatmo opened #49 "[Content] Update Django home page with some getting started tips"
## Context
@d3vild06 noted that the first screen users see after getting the dev environment set up (either with `docker-compose up`, which is being reviewed in the PR for #44 right now, or manually) is this:

![image](https://user-images.githubusercontent.com/4512699/72596881-791cde00-38c1-11ea-9a74-4fd33a960a93.png)

We could add some tips to that home page content to help contributors to the Dj

[2020-01-17 09:01] lpatmo opened #50 "[File restructuring] Rename cbv3_django_prototype to `app`"
## Context
h/t @billglover who pointed out  `cbv3_django_prototype` could probably be renamed to `app`, now that we've decided on this course.

## Acceptance Criteria
We'll need to make sure to rename in the following places
- folder/file structure
- inside the Dockerfile
- other places (??)

[2020-01-17 09:02] lpatmo commented on #50
Let's not work on this issue right now, but only after the Dockerfile is merged and after #43 is addressed.

[2020-01-19 00:28] BethanyG commented on #43
Current `Resource` Model below.  Did not use https://github.com/glemmaPaul/django-taggit-serializer because it would only return a tag `list` and not a list of `slug:tag` pairs.  Leaving the library there in case we do want to use it in the future in another context.

[code]

[2020-01-19 05:59] lpatmo commented on #43
Got it, thanks for looking into `django-taggit-serializer`! That JSON structure looks 💯; I'm excited to get back into doing some cleanup for `react-concept` next...

[2020-01-21 03:01] bengineerdavis opened #51 "Moving to a feature-branch style of development"
I'm running across an issue contributing to Bill's contributing to this project (his fork: https://github.com/billglover/django-concept). This to help complete issue #44 .

I've attempted to fork his fork, but realize that GitHub considers it part of the same repository (I think), and so even after renaming my current fork of the official CB repo, GitHub still won't let me fork Bill's fork of this

[2020-01-21 03:06] bengineerdavis commented on #40
I've run into some forking challenges, likely with the way GitHub manages them, and would like to consider making this it's own feature branch or sub-feature branch of dev setup: #51

[2020-01-21 03:08] bengineerdavis commented on #40
Per 'acceptance criteria':

- [ ] specify the distro(s), mostly because we only want to confirm for the ones we've used to make this setup work.

- [ ] Confirm any libraries or other utilities required, such as Docker.

- [ ] How to new contributions/preferences. #3

[2020-01-21 03:12] bengineerdavis commented on #3
I would nominate this to be a reopened issue, so clarify how new contributions, and related issues. This comes specifically from doing setup. Centralizing this would allow people to work a bit more independently, and reduce maintainer load going forward, if this could be further clarified.

[2020-01-21 04:50] lpatmo commented on #51
Can you say more about what you mean by using centralized feature branches? Would that require the maintainers to create a feature branch whenever there is a new feature that needs to be worked on?

In the case of "checking out" a PR from a fork (e.g. checking out https://github.com/billglover/django-concept), the way to do it is:

1/ `git remote add bill https://github.com/billglover/django-conce

[2020-01-21 21:43] bengineerdavis opened #52 "Relocate the Postgres container volume so it is no longer versioned"
# Actions

- [x] ~~Confirm that repo size reduces with by adding `db_data` to `.gitignore` file.~~ gitignore already ignores db_data

- [x] Confirm that leaving the volume undefined in `docker-compose.yaml` doesn't produce any side effects and maintains the functionality of the app.

- [ ] Seek more feedback on whether to continue pursuing this issue.

# Notes

- When running git rm --cached db_da

[2020-01-21 22:07] bengineerdavis commented on #52
Currently, `.git` isn't tracking `db_data` volume. I'll have to dig some more to determine what is causing the repo size.

[2020-01-22 06:54] lpatmo opened #53 "[Cleanup] Reduce repo size by cleaning up the .git folder"
## Context
We have some artifacts left over in the .git folder that we can clean up to reduce the size of the project from ~70mb to 384K. There was some discussion on Slack about this recently.

## Acceptance Criteria
- Tackle after #44
- h/t @sunu for these findings:

[code]
- Reduced the size of .git folder from 71M to 384K

https://help.github.com/en/github/authenticating-to-github/removing-sen

[2020-01-26 16:07] sebbel commented on #49
I'm taking this

[2020-01-26 16:19] sebbel commented on #49
https://github.com/codebuddies/django-concept/pull/54 here is the PR

[2020-01-28 06:36] billglover commented on #51
Does feature-branching come with any overhead in terms of complexity for new contributors?

[2020-01-28 06:38] billglover commented on #48
Would be great if these tests could:

* Be executed with `manage.py test`
* Populate whatever data they need to run
* Remove that data once complete

[2020-01-28 06:39] billglover commented on #41
I believe #44 covers the above. I'd love to get more people go through testing it, but suspect that will come post merge now.

[2020-01-28 06:40] billglover commented on #23
Do you still have this issue with `docker-compose` as introduced in #44?

[2020-01-28 07:11] brylie commented on #51
Feature branch flow is basically like saying "don't work in the master branch" and "keep your work focused on one feature". So, it can actually help new contributors to avoid problems like losing focus or having an out-of-sync master.

Working in a feature branch is basically the same as if they were to work in a fork of the project, which might be advisable for new contributors in any case.

[2020-01-28 07:13] brylie commented on #51
For what it's worth, we have used Git Flow in a couple of projects, mainly to encourage the use of feature branches. There is a nice visual guide and helper script for Git Flow: https://danielkummer.github.io/git-flow-cheatsheet/

[2020-01-28 13:10] bengineerdavis commented on #51
Thank you Brylie! Gitflow is exactly what I'm thinking of. I think it makes
more sense to have an upstream branch for any fork that intends to provide
PRs to the upstream. This would make it easier for other people to get
involved because it would all be in the context of the Django CodeBuddies
project. If we're constantly pushing to other people's forks to get a
change into this code base, it cou

[2020-01-28 13:10] bengineerdavis commented on #23
Hi Linda,

I finally finished my work week, so I can devote a few hours over the next
few days catching up on this.

On Wed, Jan 15, 2020, 4:43 AM Linda <notifications@github.com> wrote:

[2020-01-28 13:14] bengineerdavis commented on #41
I'll bring up your new changes between now and tomorrow. :)

On Tue, Jan 28, 2020, 1:39 AM Bill Glover <notifications@github.com> wrote:

[2020-01-28 14:55] billglover commented on #51
Consistent feedback I've had from development teams has been along the lines of "GitFlow is too complicated". A I'm not a professional developer myself so have never dug deeper.

I'm interested in:
* how it simplifies things for new developers
* how it simplifies things given the high "turnover" in active developers
* how it reduces the burden on core maintainers as more contributions come in

[2020-01-28 16:46] brylie commented on #51
GitFlow is just providing a consistent way of doing things using common concepts. There are three main moving parts, which can be adopted à la carte:

- feature
- release
- hotfix

**Features** are just branches, which is already a common workflow. When you start working on a feature, you create a feature branch (from the `development` branch) to do your work in a sandboxed space.

Once the `devel

[2020-01-28 16:49] brylie commented on #51
The above questions could be asked about Git itself.

GitFlow is just a conventional Git workflow (hence the name). From what I can tell, GitFlow doesn't add too much ceremony or complexity compared to how many developers are already using Git.

[2020-01-28 20:37] wuworkshop commented on #51
Hmm.. I feel like two different Git workflows are being conflated here. My understanding of the Git Feature Branch Workflow is more like this description from Atlassian:
https://www.atlassian.com/git/tutorials/comparing-workflows/feature-branch-workflow

Gitflow is described here:
https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow

There's also Forking Workflow:
https://w

[2020-01-28 21:56] brylie commented on #51
Sure. The original request for using feature branches seems like a good suggestion. It is also worth noting, as is done in the Atlassian article, that Feature Branches and GitFlow are somewhat related.

[2020-01-28 22:11] billglover commented on #51
I'm still trying to understand the article on GitFlow. Will have another read first thing tomorrow and see if I can work through how it might work.

There are some sections of the Forking Workflow that stand out from the Atlassian tutorial:

I get the feeling that these workflows all typically co-exist, the first distinction that we would want to make is: do we only accept contributions from membe

[2020-01-29 12:06] brylie commented on #51
Here is a proposal, so we might be able to close this issue with some agreement:

1. use feature branches for developers working within this repository (as is the current approach)
2. allow users to choose their preferred branching style in *forked* repository pull requests
3. use Git tags for releases (default behavior for GitHub)

[2020-01-29 18:15] bengineerdavis commented on #51
" Here is a proposal, so we might be able to close this issue with some
agreement:

   1. use feature branches for developers working within this repository
   (as is the current approach)
   2. allow users to choose their preferred branching style in
*forked* repository
   pull requests
   3. use Git tags for releases (default behavior for GitHub)"

#2 makes me a little nervous, especially if the

[2020-01-29 18:39] brylie commented on #51
Standard pull request review. We don't have to accept the pull requests. It is already possible for people to fork the project and open pull requests from their fork.

[2020-01-29 19:05] brylie commented on #51
Idea number two was basically to acknowledge that people might fork the repository and experiment with the code. At some point, they might want to contribute code from their fork. GitHub is designed to allow this type of workflow and leaves it up to project maintainers whether or not they will accept the pull requests.

https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/

[2020-01-30 03:16] lpatmo commented on #51
Catching up on this thread. :)

change into this code base, it could become a fairly messy affair to
untangle down the road, when this is multiplied by a dozen or so forks that
contain multiple upstream PRs, for example.

@bengineerdavis I understand what you're saying now! My counterpoint to this is I think Bill's docker PR was a bit of a special one where it was tempting to try to create PRs aga

[2020-01-30 14:29] #41 closed

[2020-01-30 19:23] sebbel commented on #40
Hey @bengineerdavis, I am on Ubuntu 18.04 and can confirm that the project works out of the box with @billglover Docker additions

[2020-01-30 21:53] billglover commented on #51
On the whole I agree with the proposal by @lpatmo.

Do we have an opportunity to simplify further by removing the need to distinguish between a hotfix and a feature. Maintaining the distinction implies we have two separate approaches for the fix, test, or deployment of hotfixes and features. I'm not sure we need this distinction.

[2020-01-30 21:57] billglover commented on #53
I've run this against my fork without issue. But we'll need to do this against this repo before it takes effect. As it involves a `--force` push it would be good to close down open PRs first. I'm happy to pick this up as soon as #54 is merged.

@sebbel you may want to bring your fork into line once this is complete.

[2020-01-30 22:19] billglover commented on #52
This has puzzled me for a while. I couldn't find a copy of `db_data` within the repo. It did (for a while) exist in the project folder, but didn't make it into the project history.

When you run the following command (I removed `sudo`):

[code]

This returns the largest directories in the project folder. It doesn't take into account whether or not these files are part of the git repository.

The c

[2020-01-31 02:53] lpatmo commented on #51
I don't have a strong opinion either way, so decided to put this up in a Slack vote at https://codebuddies.slack.com/archives/C04BRN86J/p1580439065055600 so folks can vote if they have an opinion on either approach. :)

[2020-01-31 12:13] billglover opened #56 "[enhancement] use GitHub actions to run tests on PRs"
GitHub Actions provides the ability to automate development workflows including: linting, building, testing, releasing and deploying. Automation of these tasks helps reduce the workload for maintainers, but also helps ensure some consistency to workflows. It can also provide a degree of confidence to contributors that their changes won't have unintended consequences.

This issue is to set up GitHu

[2020-01-31 14:12] billglover commented on #56
I have an initial version of this running and it appears to work.

<img width="603" alt="image" src="https://user-images.githubusercontent.com/94501/73545633-9d38fd00-4433-11ea-9bb6-c277a3876c85.png">

Would anyone be able to guide me through writing a failing test so that I can demonstrate what happens when tests fail?

[2020-01-31 15:45] billglover commented on #56
Looks like this is now working as expected.

<img width="603" alt="image" src="https://user-images.githubusercontent.com/94501/73552753-b5634900-4440-11ea-9e2b-6c00f7ef7a47.png">

[2020-01-31 19:13] sebbel commented on #56
I love github actions, that's a darn good proposal @billglover :clap:

[2020-02-01 12:17] sebbel opened #57 "Frontend will be in React, Delete Templates and use Django API only?"
So right now we have the split between frontend and backend, would it make sense to explicitly delete templates and defer frontend work to codebuddies/react-concept?

[2020-02-01 14:48] jesperhodge commented on #57
@sebbel I work professionally on a big Rails + React app. The way we did it - which seems to make most sense to me - is we removed the templates, after all they prevent you from having a single-page app. There are two ways you can go then, either really fullout API-only, or do it partially and keep maybe a layout file into which you render React, and then keep all the Backend-specific tooling like

[2020-02-01 15:21] sebbel commented on #57
i dont know too much on django, is it suitable for api-only?

[2020-02-01 16:11] jesperhodge commented on #57
I have no idea, I need to learn django. (Not too much of a problem as I know Ruby/Rails and Python). There is https://www.django-rest-framework.org/ (and surely many similar projects exist) which apparently works on top of Django, that might be an easy solution. In any case, somehow integrating at least some kind of endpoint for React into this project should be necessary to go ahead, as the whole

[2020-02-01 16:18] jesperhodge commented on #57
As far as I remember Django facilitates a nice admin backend to manage your resources. It might be an idea just to have that as a normal Python-rendered html view, if the slow non-SPA aspect does not bother you. Just to save work. And then have the user-facing frontend as a React SPA app. I don't know if that works, but if so that can be changed later on easily.

[2020-02-01 17:22] brylie commented on #57
Yeah, I'm in favor of using Django templates to the extent possible. We lose too much (simplicity) by going full SPA, in my opinion, like having cohesion of templating, routing, and the data model that Django provides (a.k.a. "batteries included"). Projects can get quite far with fairly standard HTML, CSS, Django templates, and then sprinkle in some JavaScript (AJAX) where it is useful.

The artic

[2020-02-01 22:06] jesperhodge commented on #57
Well I just heard that the frontend is intended to be a separate project as it is, so that means the backend can only provide an API anyway. As far as I see it that answers the question posed by this issue with a clear and simple "Yes". Maybe a code owner who is familiar with the Django part can confirm this and we close this issue and start implementing? :) (Please correct me if I am mistaken.)

[2020-02-02 05:07] lpatmo commented on #57
@sebbel We definitely don't need the templates in the Django app as user-facing pages, but I don't think we need to delete them either. They're useful to click around in dev (e.g. if I want to create a new user without running a `createsuperuser` command), and the home page with the "tips for Django API contributors" (that base.html file you worked on in PR #54) is great for someone to see when th

[2020-02-02 05:08] lpatmo commented on #56
😍😍😍

[2020-02-02 19:32] BethanyG commented on #57
We are indeed using DRF (Django Rest Framework) for the REST API endpoints that the front end react application will feed from.  However, we have also kept the core Django user management, profiles, and admin interface.  We've added JWT auth.

As @lpatmo has pointed out, using DRF but retaining core Django features allows us to have a built-in and relatively easy to customize administrative interf

[2020-02-02 20:58] #52 closed

[2020-02-02 21:00] billglover commented on #23
With #44 now merged into master and confirmed as working on Linux, Mac OS, and Windows I'm closing this for now. We can reopen this if issues with Linux remain.

[2020-02-02 21:00] #23 closed

[2020-02-02 21:03] billglover commented on #40
With #44 merged and confirmed working on Ubuntu 18.04 I'm marking this as closed. The instructions assume you have docker installed, but have been tested on Windows 10 Pro, Linux, and Mac OS.

[2020-02-02 21:03] #40 closed

[2020-02-02 21:24] billglover commented on #30
Hold until #43 is complete.

Could be completed with #31 and #50.

[2020-02-02 21:24] billglover commented on #31
Hold until #43 is complete.

Could be completed with #30 and #50.

[2020-02-02 21:25] billglover commented on #50
Could be completed with #31 and #50.

[2020-02-03 00:02] lpatmo commented on #57
Thank you for the notes/update, @BethanyG!

Is there any chance you can jot down some notes in #43 about how to replicate the issues you're having with the serializer (e.g. which branch we should check out)? If it's faster to pair on this, happy to do so -- though admittedly I _hope_ I can help, since my experience with DRF serializers is limited.

how do we connect these entities relationally (or

[2020-02-03 04:25] bengineerdavis commented on #40
Thank you Sebbel!

On Thu, Jan 30, 2020, 2:23 PM sebbel <notifications@github.com> wrote:

[2020-02-03 04:25] bengineerdavis commented on #23
Thanks for all you work on these issues and setup Bill!

On Sun, Feb 2, 2020, 4:00 PM Bill Glover <notifications@github.com> wrote:

[2020-02-03 04:27] bengineerdavis commented on #52
Thanks for closing this. And I realized that, too, but should've followed
up here.

On Sun, Feb 2, 2020, 3:58 PM Bill Glover <notifications@github.com> wrote:

[2020-02-03 07:48] #49 closed

[2020-02-03 09:57] billglover commented on #53
Running this against master reduces repo size from 81M to 344K. @lpatmo and @BethanyG, as you both have open branches/forks that have active development, I'll wait for you both to give me the nod to push this and rewrite history.

[2020-02-03 19:52] lpatmo commented on #53
Thanks Bill! I'm all good here! (I need to delete my old branches... sorry
about that) Not sure if Bethany would prefer that this waits until after
#43 to reduce potential conflicts in her branch.

On Mon, Feb 3, 2020, 1:57 AM Bill Glover <notifications@github.com> wrote:

[2020-02-10 11:01] billglover commented on #53
I propose pushing this today so that we can free up further contribution. @BethanyG any objections?

[2020-02-11 17:10] BethanyG commented on #53
None at all!  Don't think this would create any issues, and would certainly help slim things down considerably.

[2020-02-11 22:03] billglover commented on #53
@lpatmo, this is done but your [linda-drf](https://github.com/codebuddies/django-concept/tree/linda-drf) branch still has the virtual environment in it and so a clone of the repo is still 81M.

Do you need this branch? If not, I'll remove it and close this issue. If you do need it, I propose re-purposing the hangout tomorrow to work through rebasing any changes.

[2020-02-11 22:05] lpatmo commented on #53
I don't need that branch anymore, so it's fine to remove it. Thanks Bill!

On Tue, Feb 11, 2020 at 2:03 PM Bill Glover <notifications@github.com>
wrote:

[2020-02-11 22:14] billglover commented on #53
All branches removed. Repo size now much smaller.

[code]

**Note:** anyone who wants to merge changes should look to rebase instead of merge. I would recommend everyone who has a fork of this repo to consider re-forking.

[2020-02-11 22:14] #53 closed

[2020-02-12 07:05] #56 closed

[2020-02-12 09:51] billglover commented on #57
This sounds like we've arrived at a decision to retain the template pages (for now). I'm going to close this issue and suggest we revisit if we find that the admin pages are becoming an unnecessary overhead.

[2020-02-12 09:51] #57 closed

[2020-02-12 14:02] billglover commented on #51
The poll on Slack has been open for a couple of weeks and is a dead heat.

The conversation under the poll tended towards concluding that `issue-123-description` would be a good branch naming strategy. As the proposed branch naming convention does not indicate any differentiation between feature and hotfix and I’m closing this issue.

There are still a number of open questions regarding the benefi

[2020-02-12 14:02] #51 closed

[2020-02-12 15:56] billglover opened #61 "[discussion] re-name this repository"
The proposal is that we rename this repository to **backend**.

Why: Now that we have decided to use Django as the back-end for future versions of CodeBuddies, it no longer makes sense to retain the **django-concept** name. Calling this **backend** will make it clearer to contributors what the role of the repository is.

Why now: We have just force pushed a solution to #53 causing disruption to an

[2020-02-12 17:21] brylie commented on #61
FWIW, GitHub automatically redirects renamed repositories.

[2020-02-12 17:25] brylie commented on #51
There doesn't need to be much formality at this point.

We can just help new developers remember to create a branch when starting work, regardless of how they name it. Even if a developer accidentally commits to the master branch in their local fork, they can still create a branch and open a pull request from that branch.

[2020-02-12 21:00] billglover commented on #61
Anything I'm missing before going ahead and implementing this one?

I'm proposing this one gets two approvals before implementation.

[2020-02-12 21:27] billglover opened #62 "Use a shared Postman Collection"
I've noticed a couple of contributors using Postman to test calls to the APIs exposed as part of the CodeBuddies backend. I would like to explore the idea of a shared Postman collection.

**Why?** By sharing a Postman (or equivalent) collection we should hope to see a couple of potential benefits. We would gain the ability to consistently call the API making it easier to reproduce observed behavio

[2020-02-12 21:31] billglover commented on #62
Option 1: Postman offers a free teams collection (25 requests, 25 shared history) ([see FAQ](https://blog.postman.com/2018/08/09/free-teams-faq/)).

Option 2: Postman collections can be exported and stored as part of the repository. There is no meaningful limitation to the size of a collection here. However, sharing collections this way can create interesting merge issues if collections IDs change

[2020-02-12 21:50] billglover opened #63 "Return HTTP 500 errors as JSON instead of HTML"
Requests that result in an `HTTP 500 Internal Server Error` status code return HTML even if the client is expecting to receive a JSON response. A standard JSON error response format should be adopted to be sympathetic to client error handling code.

**Why?**
When the server returns an error, the client (React front end, mobile app, CLI, etc.) will want to parse that error and take appropriate acti

[2020-02-13 04:37] lpatmo commented on #62
💯I love Postman collections! Feel like there's a small amount of setup involved that we should take care to document, but it's a tool widely used enough in industry that it'll be a great learning experience for those unfamiliar with it. :)

[2020-02-13 04:38] lpatmo commented on #61
Will make the change. Thanks for pushing this forward, @sunu @billglover et. al!

[2020-02-13 04:39] lpatmo commented on #61
A few years ago we had to rename a github repo `codebuddiesdotorg` to `codebuddies`, so this won't be the first time. :)

[2020-02-13 04:40] lpatmo commented on #61
✔️ Renamed to `frontend` and `backend`

[2020-02-13 04:40] #61 closed

[2020-02-13 20:46] chris48s commented on #63
Bit of a drive-by comment, but if you're just having trouble with unhandled exceptions that don't extend DRF's base `APIException` class, have a look at the DRF Generic Error Views: https://www.django-rest-framework.org/api-guide/exceptions/#generic-error-views
That probably solves your problem with a couple of lines of config?

[2020-02-14 08:24] BethanyG commented on #62
Agree that this is an excellent tool for people to learn to use, and much friendlier than cURL.  While using the "browsable api" for DRF can work for quick tests (see screengrab below), having something that mimcs a full api call is quite nice -especially for things like JWT tokens.

DRF "browsable api"  :
![image](https://user-images.githubusercontent.com/5923094/74513787-36e6bc80-4ec0-11ea-9765-

[2020-02-14 08:30] BethanyG commented on #22
There is an additional twist for this now that we are using a generic relation  for Tags through taggit.

[2020-02-14 10:43] billglover commented on #62
I'll start a collection, export it and add it to the repo. If this becomes a pain to manage then we can look at alternative ways to share the collection.

[2020-02-15 07:55] tgrrr commented on #57
Late to the table, but
I'm actually against templates, because imho it creates problems for passing state between react components in different templates.

[2020-02-15 07:56] tgrrr commented on #63
Why don't we log the error with a service like Sentry, and keep the UX clean?

[2020-02-15 07:57] tgrrr commented on #50
@billglover renaming it to app makes sense, except... It would be better to complete issues with their own ticket, rather than with #31 or #50

[2020-02-15 10:29] billglover commented on #63
Server side errors could still be logged. Whether this requires an external service is probably worth a separate issue for discussion.

This issue was raised because clients typically expect a consistent message format from requests to the back-end. Our clients get JSON responses for with most status codes but we are currently sending HTML for the 500 status code. This inconsistency is often a sou

[2020-02-15 11:50] billglover opened #65 "Deploy the master branch to production"
We don't yet have a production deployment of the CodeBuddies backend. We should have one.

**Why?**:
Deploying a publicly accessible version of the CodeBuddies backend will allow us to get feedback from the CodeBuddies community.

**Why now?**:
The earlier we get feedback, the easier it is to address. We have functionality that is very close to being ready for user testing. It would be good to hav

[2020-02-15 11:56] billglover commented on #65
Some initial thoughts:
* Assume Digital Ocean is the target hosting provider
* Separate subdomain: https://api.codebuddies.org/
* Certificate provided by LetsEncrypt
* Application packaged as DockerContainer
* Tagged Docker image pushed to Docker Hub
* Database on same host as application
* Same web server for static content acts as proxy for Django app
* Only tagged changes will be deployed

[2020-02-15 19:38] BethanyG commented on #63
I believe this is a settings issue.  Currently,  in settings/`local.py`we have: DEBUG = True and we are using [Django Debug Toolbar](https://django-debug-toolbar.readthedocs.io/en/latest/)

[2020-02-15 20:17] BethanyG commented on #63
I believe this is a settings issue.  Currently,  in settings/`local.py`we have:

- DEBUG = True
- we are using [Django Debug Toolbar](https://django-debug-toolbar.readthedocs.io/en/latest/)
- we have some basic HTML templates and routes set for developers running the project for the first time.
    - Templates `base`, `home` and `about` are in in templates/`base.html`, templates/`home.html`, and t

[2020-02-15 20:30] BethanyG commented on #63
I'd like to add that I think for DEBUG=True, we need to keep error messages in HTML format so that they can be displayed properly in the debug toolbar, etc.  But for any sort of production deploy we of course would turn DEBUG=False.

[2020-02-15 20:46] BethanyG commented on #63
For the **logging configuration**, see cbv3_django_prototype/cbv3_django_prototype/config/settings/`base.py` under LOGGING.

The logging configuration docs for Django can be found [here](https://docs.djangoproject.com/en/2.2/ref/settings/#logging)
Customization for Django logging can be found [here](https://docs.djangoproject.com/en/2.2/topics/logging/).

[2020-02-15 21:38] billglover commented on #63
This is some really useful background and some good links to continue exploring. I'm really surprised that the `Accept` header is ignored for the error path so that's what I'm going to dig into. I suspect this comes from the Django origins targeting browser based requests.

The behaviour I expected was:
* browser based requests get all the debug extras when running in debug mode
* browser based re

[2020-02-15 21:47] chris48s commented on #63
If you want to change the error handling behaviour in debug mode based on the Accept header, you could write a custom error handling middleware that implements `process_exception()`

https://docs.djangoproject.com/en/3.0/topics/http/middleware/#process-exception

[2020-02-16 00:46] lpatmo commented on #65
- Database hosting on Digitalocean's managed DB hosting: https://www.digitalocean.com/products/managed-databases/

I did not realize "tagged PRs" -> deployment was a thing! Are you talking about this process? https://help.github.com/en/github/administering-a-repository/managing-releases-in-a-repository#creating-a-release

[2020-02-16 00:49] lpatmo commented on #57
@tgrrr Ah, to clarify -- we're not going to be using Django templates at all for the purposes of our app, which will be Django API + React frontend. I haven't written Django templates + React inside the templates before, but that makes sense. :)

[2020-02-16 00:54] lpatmo commented on #65
One thought:

What are your thoughts on deploying an https://api.codebuddies.org/ that our React app could make requests to, but with the understanding that all this data is in beta and isn't temporary until we officially launch a beta?

[2020-02-16 02:23] tgrrr commented on #57
Thanks for clarifying. How are we going to do it?

On Sun, 16 Feb 2020, 8:49 am Linda, <notifications@github.com> wrote:

[2020-02-16 09:58] billglover commented on #65
This should be something we aim for as soon as possible. I'd say data isn't guaranteed until the main CodeBuddies site is switched over to use the new backend.

[2020-02-16 17:09] sebbel commented on #65
+1 for getting something out asap. I could help with deployment, like server setup etc.

[2020-02-16 18:33] #62 closed

[2020-02-17 00:34] lpatmo commented on #57
@tgrrr The Django API will be deployed separately on DigitalOcean as `api.codebuddies.org/v1/etc.`, and the React front-end will be deployed on Netlify, which we have a sponsored open source license with.

The React app will be making requests to the API.

Not sure if that's what you were asking about -- let me know if I answered your question!

[2020-02-17 10:05] billglover commented on #65
Would love some help on this. An initial step could be to understand what infrastructure we already have available to us. I'm hoping we can run this on an existing Digital Ocean server as the resource requirements should be tiny.

[2020-02-18 06:53] BethanyG opened #67 "[API] Change Resource Serializer to Pull `user` field values from Currently Authed User"
The current `resource` POST (create) api will take any `int` value POSTed for the `user` field.   This means, effectively, that one authorized user can "impersonate" another when it comes to creating a resource in the DB.

We don't want this to happen.  Instead, the `user` field should be pulled from and populated by the 'username' field from the JWT token.

See [this Stack Overflow Post](https://

[2020-02-18 06:54] BethanyG commented on #67
I am going to assign this to myself, since I've included this in my current PR for bug #43 .

[2020-02-18 08:03] lpatmo commented on #65
@billglover I added you, @sebbel, and @BethanyG to the DigitalOcean team. I created a new Postgres instance last night, but didn't get around to a deployment tutorial.

I am not entirely sure how to deploy this on an existing Digital Ocean server, heh. But actually a new VM should be fine -- we have enough credits from DO's sponsorship to afford it! https://www.digitalocean.com/community/tutorials

[2020-02-18 09:26] billglover opened #68 "[Testing]Improve Test Workflow execution time"
The [Test Workflow](https://github.com/codebuddies/backend/actions?query=workflow%3ATest) currently starts two optional applications during testing. Neither Mailhog or Adminer are required. Starting them during the workflow consumes unnecessary resources and may slow down execution.

Acceptance:
* [ ] Only required services started during Test Workflow: `web`, `app`, `db`
* [ ] Testing continues t

[2020-02-18 15:58] BethanyG commented on #50
Would be great to now take this on along with #30 & #31, since the current file structure with the repeated `cbv3_django_prototype` name appears to have broken the test runner.

[2020-02-19 10:43] billglover commented on #65
I scheduled a pairing session tomorrow. Maybe we can use that to make a start. My hope is that we can deploy this very similar to the way we run things locally.

I'm most worried about:

* building a production version of the Django application
* running migrations against a live site
* deploying older versions (i.e. roll-back) - do we even want to do this?

[2020-02-19 16:56] lpatmo opened #70 "Document the use of the makemigrations command"
## Summary
I want to run `pip install -r requirements/local.txt` while inside the `backend_app` docker container so that I can install the `taggit_serializer` module, but I can't get inside it because my containers are continuously restarting.

## Recreation of steps

$ docker-compose down
$ docker-compose rm
$ docker-compose up (with no -d)

Result:
![image](https://user-images.githubusercontent.

[2020-02-19 17:46] billglover commented on #70
Will add more detail later...

[code]

I think the following may also work but need to check.

[code]

The trick is knowing when this needs to be run. That’s where I get stuck. We could say run it all the time, we could say run it only if certain things change, or we could create a `Makefile` (Windows users may miss out here).

[2020-02-19 21:01] BethanyG opened #71 "[API] Non-English (unicode, extended ASCII, emoji) Characters Cannot Be Slug-ified in Tags"
During the review of PR #69, @billglover uncovered a bug with `tags` that include Non-English characters (Unicode, extended ASCII, emoji):  https://github.com/codebuddies/backend/pull/69#discussion_r380910342

In addition to not respecting the characters, the resulting strings fed to the serializer screw up the ordering and return of the `tag:slug` pairs, and are saved into the DB in garbled form.

[2020-02-19 21:14] BethanyG opened #72 "[Testing] Need to Add Specific Tests for Tagging Scenarios"
Currently, tags are being tested as a side effect of `Resources`.  Given the issues we've already uncovered, we need to create specific tests for tagging and tag formatting that are pulled out into their own tag test files.  We also need test data for these tests.

Not an exhaustive list, but here are some use cases we need to test for:

1.  Non-English extended ASCII characters as part of tags (s

[2020-02-19 21:15] BethanyG commented on #72
Yes - the tags on the issue are weird.  But it is both a bug we don't have tests, and and enhancement that we add all the scenarios.

[2020-02-19 21:53] BethanyG opened #73 "[Discussion] Tag Usage & Tagging Strategy"
Please review this PR comment  as background:  https://github.com/codebuddies/backend/pull/69#discussion_r381446901

____

## The TL;DR

We are going to be tagging literally everything, and now is probably the time to have a discussion about our thoughts and architecture around it.

##  Some Background

*  We've decided to use a Django add-in library called [**`taggit`**](https://django-taggit.rea

[2020-02-19 22:04] BethanyG opened #74 "[API] Tags is a Required Field for POST-ing a Resource"
Currently, the model for `Resouces` has `tags = TaggableManager(blank=True)`, and while this will allow a *blank* `tags` field, it will not allow a poster to **omit** the `tags` field from the POST.

This is not desirable, and we will need to consider if we would like to write code to apprehend the incoming POST to check for the missing field and supply it , as opposed to throwing a "this field is

[2020-02-19 22:12] BethanyG commented on #71
Adding in these links in case they're helpful.  These are some references I've come across in researching this:

*  [**Django Utils (_slugify_)**](https://docs.djangoproject.com/en/3.0/ref/utils/#django.utils.text.slugify)

*  [**A Stack Overflow Discussion**](https://stackoverflow.com/questions/702337/how-to-make-django-slugify-work-properly-with-unicode-strings)

*  [**Linked Unidecode Lib from

[2020-02-20 08:04] lpatmo commented on #70
Ahhh thank you so much, `docker-compose up --build` worked!! :D I noticed it also applied migrations; do you know if it also does `makemigrations`?

Generally, we need to `pip install -r requirements/local.txt` whenever a new Python module is added. And we need to `makemigrations` and `migrate` each time the DB model changes.

So maybe the tip would be to run it after each `git pull` from the mast

[2020-02-20 08:09] lpatmo commented on #74
From a React perspective, I think this is fine! That is, we can be explicit about requiring a `tags` field in the form to submit a resource. The other conclusion is that every endpoint will need a `tags` field supplied (and a tags field in the UI), right?

Are there other scenarios I'm missing?

[2020-02-20 08:12] lpatmo commented on #73
Thanks for these detailed notes and questions! :) Will let these questions sink in/give this some more thinking before I try to add to the discussion.

[2020-02-20 08:16] lpatmo commented on #72
👏 Great list. There's validation the front-end form can do of course, but would be good to validate if we're making API requests directly too. I have no idea how to implement testing against duplicate tags in DRF so this would be good learning for me...

[2020-02-20 09:28] billglover commented on #70
Because we are including dependencies in the container image, the image needs to be rebuilt whenever these dependencies change. You can see exactly what gets run here:

https://github.com/codebuddies/backend/blob/9123fabe517ab65aae0e3d360c2121fdc24f4267/cbv3_django_prototype/Dockerfile#L7-L10

Migrations are run when the application is started. The script can be seen here:

https://github.com/code

[2020-02-20 10:02] sunu commented on #71
Hi @BethanyG,

First of all, thanks for documenting this issue so well! I went through the discussions and it seems the issue @billglover found in https://github.com/codebuddies/backend/pull/69#discussion_r380910342 is caused by the code [here](https://github.com/jazzband/django-taggit/blob/954d8360102fb2102db246bde1336a7e58ff10f2/taggit/models.py#L67).

The `taggit` library is using a combination

[2020-02-20 17:17] billglover commented on #65
We took 20 minutes to attempt a production deployment and got so close. DB and app deployed, migrations ran successfully. We didn't manage to expose the API externally but have some things to investigate.

I've created the following page on the wiki where we plan to document this:
https://github.com/codebuddies/backend/wiki/Production-Deployment

[2020-02-20 17:21] lpatmo commented on #65
Blog post title: how to deploy your Django app in only 20 minutes using Docker

[2020-02-20 17:59] BethanyG commented on #71
@sunu - Thank you *so much* for your careful reading and sleuthing!  I am very happy to hear that we may have a straightforward solution to an ugly problem (_and I am really happy we're GPL3!!_).

I am concerned that [unidecode](https://pypi.org/project/Unidecode/) _transliterates_ as opposed to preserving the unicode characters (the further from ascii you get, the less sense any sort of translite

[2020-02-20 18:40] BethanyG commented on #70
**`makemigrations`** should be run only by someone who has made a model (db) change.

If they've made

* PK changes
* removals
* fieldname changes
* multiple sets of  changes with reversions
* datatype changes

They should be double checking their migration files and consolidating, organizing, and deleting excess where necessary.

Only the migration files that make the **final** intended changes s

[2020-02-20 18:41] BethanyG commented on #70
I also think that dependency changes should be called out in the PR descriptions and flagged with a **rebuild** flag as well.  I wonder if we can make a PR template that prompts that??

[2020-02-20 20:10] BethanyG commented on #73
Additional thought about a common tags table:  context may or may not be harder to track.  As a "quick-and-dirty"  example, a "nighttime" tag may be relevant in the **Hangouts** context, but completely useless in the **Resources** context, and might have to be filtered out.  Or not.  Depending on how the tables/queries/endpoints are set up.

In any case, scenarios like the one above are what I'd l

[2020-02-21 06:12] billglover commented on #70
Turning this into actionable tasks, I think for now we need:

1. Document guidance for PR reviewers to check that model changes are accompanied by associated migrations. Suggested location [on wiki](https://github.com/codebuddies/backend/wiki/Contribution-Instructions#reviewing-prs)
2. Document guidance for contributors to ensure they are running `makemigrations` at an appropriate point. Suggested

[2020-02-21 06:37] billglover commented on #71
I'm not a fan of the transliteration although it does look to work. Is there any reason we need to use slugs and can't just return the slug guid for use in URLs? This feels like it would deliver all the functionality we'd need while saving it as a future enhancement to work on a common solution for tag to slug generation.

[2020-02-21 08:46] #43 closed

[2020-02-21 08:46] #67 closed

[2020-02-21 09:01] BethanyG commented on #71
I don't think we'd be using tag slugs as a piece of a URL (_unless I'm missing a scenario_), so I don't think we'd  have concerns about Unicode characters there.

 But if we *do* have URL concerns and want to return a guid, we'd need to generate one.  Taggit only assigns simple numeric key by default, and uses a slug for things like uniquification.  The guid in earlier mock ups was something I was

[2020-02-21 09:19] billglover commented on #74
I think we need to remove the requirement for an empty array. Expected behaviour when calling an API is that optional fields do not need to be provided. It would be unusual to require an array but not require it to contain any values.

It could be worked around in react, but any other consumer of the API would also have to work around this issue.

[2020-02-21 09:22] billglover commented on #71
It doesn't feel like we have a use-case for slugs outside the model (yet) so we may be able to avoid this paint.

If we are going to use `guid` as a unique identifier for resources, and not the auto incrementing ID then I think we should try to be consisted across other types (e.g. tags, users, hangouts, etc.)

[2020-02-21 09:24] billglover commented on #30
@lpatmo you are assigned to this one. I've just removed the `hold` tag.

[2020-02-21 09:25] sunu commented on #71
@BethanyG Just wanted to point out that the unicode text *is* preserved - not in Tag.slug but in Tag.name.

The most common scenario where we want tags in the URLs is where we browse resources, hangouts etc by a tag. For example, lets say I want to see what hangouts and resources are there under the tag Django. I don't think we need an additional GUID field though. We can just use the slug with an

[2020-02-21 09:26] billglover commented on #31
I'm not convinced we want to implement this. The project root contains items unrelated to Django such as the `nginx` configuration, the `postman` collection, and the `docker-compose.yaml`.

[2020-02-21 09:28] billglover commented on #50
Removing the `hold` tag on this so this is now available.

[2020-02-21 09:44] sunu commented on #70
I would propose instead of marking changes for rebuild, we always do `docker-compose build` before doing `docker-compose up`. Docker build layers are cached and if nothing has changed, build process finished in no time since there is nothing new to build and every required layer is already available in cache.

[2020-02-21 09:50] billglover opened #75 "[access request] grant access to Docker Hub Organisation"
Please add me as a member of the codebuddies organisation(s) on Docker Hub.

* https://hub.docker.com/u/codebuddies
* https://hub.docker.com/u/codebuddiesdotorg

I require access to be able to push versions of the codebuddies image as part of implementing #65.

[2020-02-21 11:35] brylie commented on #31
For clarification, the *project* root is where `manage.py` is located (currently `backend/cbv3_django_prototype`). The *repository* root is where the `docker-compose.yaml` is located (currently `backend/`).

It is [conventional for Django apps to be defined in the *project* root](https://docs.djangoproject.com/en/3.0/ref/applications/#projects-and-applications). Following Django conventions makes

[2020-02-21 11:36] billglover commented on #31
Awesome, understood. This makes a lot of sense.

[2020-02-21 11:41] billglover commented on #70
I'm all for reducing the number of decisions people need to make. We still need documentation on `makemigrations`, so our actionable tasks become:

1. Document guidance for PR reviewers to check that model changes are accompanied by associated migrations. Suggested location [on wiki](https://github.com/codebuddies/backend/wiki/Contribution-Instructions#reviewing-prs)
2. Document guidance for contr

[2020-02-21 16:32] lpatmo opened #76 "[API] [Sample Data] Projects API projects.json Fixture"
## Context
In preparation for the /api/v1/projects endpoint, we'll need a fixtures file for projects.json

## Acceptance criteria
[ ] Create a projects.json fixtures file
[ ] Include 10 blocks of sample data inside it

[code]

[2020-02-21 16:44] lpatmo commented on #75
Thanks for this reminder. Sent you an invite! :)

[2020-02-21 20:09] billglover commented on #75
Thanks! I now have access to:
* https://hub.docker.com/u/codebuddiesdocker/

Do you know who controls the following:
* https://hub.docker.com/u/codebuddies <-- I'm particularly interested in this one
* https://hub.docker.com/u/codebuddiesdotorg

[2020-02-21 21:14] BethanyG opened #77 "[API][WIP] Expected JSON Spec for `Projects` Endpoint"
Current thinking on the JSON Spec for the `Projects` api endpoint.  Opening this as a separate issue from fixtures, as we need to discuss the fields, data types,  relations, and formats needed to implement a model for the DB.  Current proposed fields and **POST** format below:

[code]

______

## Open Questions/Comments

1.  Omitted the **`guid`** listed in the fixtures spec as it will be generate

[2020-02-21 21:18] BethanyG commented on #77
Proposed changes below:

[code]

[2020-02-21 22:05] BethanyG commented on #76
Ooof.  Apologies for all the back and forth.  Made a separate issue for the JSON spec, as I think we have some details to iron out that will create noise here.  Three things to note about fixtures from the backend perspective:

1.  The **guid** right now is randomly generated by the ORM code on insert..and I suspect because of the type (UUID1  -- [**see this for details**](https://docs.python.org/

[2020-02-21 22:11] billglover opened #78 "Faker package installation error"
Run the following command to install development packages:

[code]

During package installation the following error is returned:

[code]

Expected behaviour: no errors or warning shown during package installation.

[2020-02-21 22:31] billglover commented on #65
I've added a new action on the associated branch that builds the container image and publishes it to the GitHub package repository instead of Docker Hub. You can see the first version of the container image here: https://github.com/codebuddies/backend/packages/

Next steps are to extend this action to add a deployment step that updates the deployment on a Digital Ocean droplet.

[2020-02-21 22:34] BethanyG opened #79 "[TRACKING ISSUE - API] Add Projects Endpoint"
##  Add a **`Osprojects`** api endpoint.

Goal: Create an API endpoint that allows users to submit open source projects to invite collaborators to.

### This is a **Tracking Issue**, individual task issues linked:

**`working branch`:**  `issue-79-add-projects-endpoint`
[x]  Create `osprojects` app, `apps.py` #81
[x]  Create `osprojects` model & associated DB migration files #80
[IN PROGRESS - BLO

[2020-02-21 22:41] BethanyG commented on #79
Proposing this as a workflow for adding endpoints, and breaking down the tasks into smaller pieces.

We'd make a tracking issue like this one for an endpoint, and then list out the different tasks/issues/points for discussion in their own issues that can be individually assigned to different people if needed.

Not sure if I got the separation quite correct here - there may be dependencies in Djang

[2020-02-21 23:24] BethanyG opened #80 "[API] Create Model for Projects Enpoint"
Based on the current proposed `projects` JSON, create a `projects` **model** for the corresponding DB tables to support the `projects` DRF app.

JSON spec under discussion can be found in issue #77 , check there for any changes.

As of the writing of this issue, here is the JSON spec:
[code]

Base on that spec, here is a rough model, assuming that certain fields (**user**, **date fields**, **tags*

[2020-02-21 23:32] BethanyG opened #81 "[API] Create Projects Django App and associated apps.py Files"
Create a Django app `osprojects` for the new  **Osprojects** api endpoint, and a `apps.py` file to go with it.

See [**Django startapp**](https://docs.djangoproject.com/en/3.0/ref/django-admin/#startapp) for some details on how to do this either via the `manage.py` app, or manually.

[2020-02-22 00:08] BethanyG opened #82 "[API] Create Views and Queries for Projects Endpoint"
Create  views for the new Projects API Endpoint.  Some of these items may not need custom code, but are listed here as a reminder of what's needed:

[ ]  Create **list** and **detail** views for the endpoint.  See the [**DRF ModelViewSet**](https://www.django-rest-framework.org/api-guide/viewsets/#modelviewset), [**DRF Generic Views**](https://www.django-rest-framework.org/api-guide/generic-views/

[2020-02-22 00:26] BethanyG opened #83 "[API] Create Serializer for Projects Endpoint"
Create a Serializer for the New Project api Endpoint.  Please review issue #77 as background to make sure the latest **GET** representation is used, and any **POST** differences are taken into consideration.

See [**DRF ModelSerialize**](https://www.django-rest-framework.org/api-guide/serializers/#modelserializer), [**DRF Serializer Relations**](https://www.django-rest-framework.org/api-guide/rela

[2020-02-22 00:41] BethanyG opened #84 "[API] Register Projects Endpoint with Admin Interface and Create Admin Views"
We will want the ability to review/administer the **Projects** endpoint through the Django Admin interface, and so will want to register our `projects` app with the Django admin and provide any custom admin views we think we'll need.

See [**The Django Admin Site**](https://docs.djangoproject.com/en/3.0/ref/contrib/admin/#overview), [**Admin Actions**](https://docs.djangoproject.com/en/3.0/ref/con

[2020-02-22 00:58] BethanyG opened #85 "[API] Create `Projects` Endpoint URLs and Mapping"
We'll need to create url.py entries for our new `Projects`  API - both in the main **`urls.py`** file, and in the  **projects/`urls.py`** file

[ ]  Create/add `urlpatterns` as necessary to **projects/`urls.py`**.  Include **`projects/`**, **`router.urls`**, and **rest_framework_urls** as needed.  See [**url dispatcher**](https://docs.djangoproject.com/en/3.0/topics/http/urls/) for detailed backgr

[2020-02-22 01:11] BethanyG opened #86 "[API] Store Tag Serializer Code as a **tagging** app for Use Across Endpoints"
Currently, we are assuming most endpoints will have **Tags** and we are also using `taggit` for tag management.

Our current `taggit` model required custom serializer code to make tags for `resources` display appropriately, and the expectation is that this same code (or some improved or different version) will be required for any endpoint that is using `taggit` or tags.

We should therefore move t

[2020-02-22 01:27] BethanyG commented on #50
@lpatmo   do we want to take this on with the other re-org tasks in one fell swoop before proceeding with additional application changes?  Might be a good time to hit pause on code changes and bite the bullet, along with making sure deployments, configuration, and testing all work with a revised folder structure.  Still not clear (really) on what magic Cookiecutter is using vs this simply being th

[2020-02-22 02:14] BethanyG commented on #48
**NOTE** Model_mommy is no longer maintained.  [**Model Bakery**](https://pypi.org/project/model-bakery/) is the recommended migration.

AFIK, `manage.py test` via `unittest` and `PyTest` takes care of:

* Creating a test DB,
*  Loading (or creating, depending on the libraries used) data into the test DB,
*  Running the tests (provided they are prefaced with **test** in their name)

..but weather

[2020-02-22 02:59] lpatmo commented on #76
@bkbuilt Sorry I didn't realize sooner that fixtures can be generated _from_ models via `manage.py dumpdata <app name.model name>` -- but the example data you've created would be useful, so feel free to dump that in here! Thanks!

[2020-02-22 03:15] lpatmo commented on #79
I pushed up a branch (empty right now) that folks could check out to commit to: `issue-79-add-projects-endpoint`

Thanks for listing all this out and the details here, @BethanyG!

[2020-02-22 04:42] lpatmo commented on #75
Ahhh I can't figure out the login for https://hub.docker.com/u/codebuddies, sorry :( Looks like it's an organization account now (saw that message when I was resetting my password), so I'm not sure if I have a separate private email that has access to it. Am double checking.

@nalbina Do you remember creating a docker account for codebuddies in 2017?

https://hub.docker.com/u/codebuddiesdotorg I o

[2020-02-22 05:30] lpatmo commented on #78
Newb question: did you run `docker exec` to get into the app before you ran `pip3 install -r /opt/cbv3_django_prototype/requirements/local.txt`? (Still trying to figure out how to install specific pages with docker running now that I'm not running local virtualenvs)

[2020-02-22 07:13] lpatmo commented on #50
I took a look at this by changing the `cbv3_django_prototype` in both the project folder and app folder to `app`, and then doing a grep for all the appearances of `cbv3_django_prototype` and changing it to `app`.

It caused a bunch of "cannot import app.users" errors.

![image](https://user-images.githubusercontent.com/4512699/75088249-784e1c00-54ff-11ea-8386-8c6b179806b7.png)

After I did `git ch

[2020-02-22 07:21] lpatmo commented on #50
Update: tried that (changing `cbv3_django_prototype` to `app` only on the upper level) but got:

![image](https://user-images.githubusercontent.com/4512699/75088348-d9c2ba80-5500-11ea-8311-843cbdfa97cc.png)

and

![image](https://user-images.githubusercontent.com/4512699/75088354-e6471300-5500-11ea-9330-313dbf369894.png)

[2020-02-22 08:13] billglover commented on #75
Yup all good thanks, going to close the issue. The reason the u/codebuddies account was of interest is that it allows you to use shortened names if the image name is the same as the organisation name.

[2020-02-22 08:13] #75 closed

[2020-02-22 08:29] billglover opened #88 "Proposal to move set-up instructions to the Wiki"
Anyone visiting the project repo risks being overwhelmed with technical set-up instructions, screenshots, choices and links to various issues. I've raised this issue to propose a different structure. I'd like to lean on the work done to standardise [community health files](https://help.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file). I propose, but not ne

[2020-02-22 09:40] billglover commented on #78
Nope, I used `docker-compose up --build`. I took the command above from the start-up logs during package installation.

[2020-02-22 20:35] BethanyG commented on #78
So..I have a really stupid question.  I am using the fixtures right now to populate my database, and so I end up with 21 users, 31 Resources and 237 assorted tags.  Is that not sufficient for  a staging deploy?? Do we need more data than that?  Just wondering why you want Faker (and its associated problems) in the mix.

[2020-02-22 20:36] BethanyG commented on #78
Not that it isn't a good idea to have test data generation...not by a long shot.  Just that we do have a small set of working data atm.

[2020-02-22 20:56] billglover commented on #78
I’m not sure what faker is. If we can remove it and reduce dependency count I’m all for that.

This error has been there since the beginning only now got round to raising it.

[2020-02-23 02:03] BethanyG commented on #78
![image](https://user-images.githubusercontent.com/5923094/75101823-ada64880-5597-11ea-9640-2202c9cd9956.png)

____

![image](https://user-images.githubusercontent.com/5923094/75102207-9cac0600-559c-11ea-9739-ed3a64d33537.png)

_**I hate nested dependancies**_   The culprit is `python-slugify`, which is pinned at version `3.0.3`, (_which uses text-unidecode 1.2._)  Bumping the version to `python-s

[2020-02-23 22:17] BethanyG commented on #71
@sunu - I understand that the unicode text is preserved in the tag **name**...but the **slug** is currently the field the lookup happens on, and is also the field used to determine the uniqueness of a tag.  And I don't think transliteration is a good strategy for making the slug.

I am right there with you - I don't have a good use for the slug field as it currently behaves, and the text field wor

[2020-02-24 08:03] lpatmo commented on #88
I started a rough rough draft of what the new README.md could look like here:

https://docs.google.com/document/d/1F7EJWK8HTTUGpw7g35I5Hs9nktaSLtd-BkCTWbVy07Y/edit#

[2020-02-24 10:57] billglover commented on #88
This looks good. I added a couple of comments around the tech used in deployment and hosting but I think this is ready to go.

Steps to close:
* [ ] create a branch and submit changes to README.md
* [ ] raise PR and request review from @codebuddies/backend
* [ ] respond to review comments (if any)
* [ ] merge

[2020-02-24 16:10] bkbuilt commented on #76
Hi sorry here is the file just in case it ends up being useful for something.
`[
    {
        "model":"projects.project",
        "guid":"02ef2aaa-da96-11e9-8a1f-d20089b01401",
        "fields":{
            "title":"webpack",
            "creator":"Tobias Koppers",
            "description":"open-source JavaScript module bundler",
            "url":"https://github.com/webpack/webpack",

[2020-02-25 01:23] BethanyG commented on #74
Color me totally relieved that this is an area where Django/DRF made it _easy_.  Turns out, I needed to supply a **default** value that triggers a blank field save.  [**Here**](https://www.django-rest-framework.org/api-guide/fields/) are the docs I worked from, and here is the code change needed:

[code]

Currently working in a branch to try several of the proposed tag changes and fixes, so this w

[2020-02-25 01:26] BethanyG commented on #72
Pulling this into a branch where I am working on multiple proposed changed to tags.

[2020-02-25 01:30] BethanyG commented on #71
I am playing with various additions/solutions in a branch -- but other approaches welcomed and encouraged!!

@sunu  -- please feel free to add yourself as an assignee, and play with some options.  I branched off the current code in `master`, so that would be the place to start from if you'd like to play.

@billglover & @lpatmo  -- I am going to implement a `through model`, attempt to use a unicode

[2020-02-25 06:43] lpatmo commented on #78
@BethanyG Nice sleuthing!

[2020-02-25 09:05] billglover commented on #71
Would be good to solve this. I've been biting my tongue on suggesting an array of strings 😄.

I'm keen to focus on settling on the client facing contract (the JSON spec for requests/responses). This is harder to change as people build clients for the API. I am less concerned with how we implement this under the covers as we have some flexibility to change this as we learn more.

[2020-02-25 09:06] billglover commented on #74
This is an awesome find, nice one!

[2020-02-26 03:26] bengineerdavis commented on #88
@nuageklow @billglover I would also like to join an assignee to this issue, if that is available. Karen, let me know if you want to collborate or you still have an interest in taking this on--I'm happy to follow your lead!

[2020-02-26 03:28] bengineerdavis commented on #73
Can we format tags as their own models? That way, we could create appropriate associations through foreign keys--let me know if I'm off on this.

[2020-02-26 04:01] bengineerdavis opened #90 "Creating and populating initial Contributing.md"
After speaking with Linda, Bethany, and many others in the community, we are overdue for a more formal and detailed structure to our documentation of the backend, which I'll be adding in myself.

My checklist:

- [ ] Create Contributing.md

- [ ] Migrate all contributor-related content from README to Contributing.md

- [ ] Add my proposed changes to the Postman setup

- [ ] Merge into this issue?

[2020-02-26 07:53] billglover commented on #86
Based on conversation on Slack it looks like a decision was made to move this to its own `app` (also known as a `module`).

[2020-02-26 08:01] billglover commented on #79
I'd like to see if we can get into the habit of merging in smaller changes and tracking all the issues required to ship a feature as a milestone. For example, we can create mock data, merge it to master and continue shipping without needing to hold back those changes. We tend to trip up with larger PRs.

I do think shipping and entire endpoint requires some coordination, and probably some proactiv

[2020-02-26 08:05] billglover commented on #78
Do we have an easy way to look at the dependency tree? I'd like to be able to:

* identify dependencies that have new versions available
* identify unused dependencies and remove them
* identify dependency conflicts at the time they are introduced

[2020-02-26 08:21] billglover commented on #77
@BethanyG, @lpa I'm struggling to comment on the JSON structure as I'm unsure what role a Project plays. Do we have a link to a higher level use case or problem statement that I can use to give me a frame of reference?

Thoughts I'm hoping to understand with a greater understanding of the use case:

* Why do we appear to be tracking contributors to an external Git project?
* If a project is manage

[2020-02-26 19:07] BethanyG commented on #71
...not yet all the way there, but I think this might be an encouraging start:

![image](https://user-images.githubusercontent.com/5923094/75300632-60231900-57ed-11ea-83f9-a6f8fa164f5d.png)

...now, if I could just get the guid to show up for my serializer, we'd be _**golden**_.  Until, of course, we find the next set of bugs!  😄

[2020-02-26 22:58] BethanyG commented on #78
I haven't tested out all of these...it's a process.  But I did want to note what I dug up here so you could explore as well.   This [**Blog Post by Hynek Schlawack**](https://hynek.me/articles/python-app-deps-2018/) was a place I started to get some lay of the land.  It's highly opinionated, of course.

1.  [**`pip-tools`**](https://github.com/jazzband/pip-tools) (_as recommended in the above blog

[2020-02-26 23:31] BethanyG commented on #86
Yes.  Following the recommendation of Kenneth.  Changed the issue title/description accordingly.  This will be part of the PR that includes #71 &  #74.

[2020-02-26 23:32] BethanyG commented on #78
@billglover  - as soon as I am done with my tagging PR (next day or so), I will get on trying out some tools.

[2020-02-27 01:35] BethanyG commented on #71
Ok.  Guid Added to representation.  @billglover @lpatmo   _how does this look?_

![image](https://user-images.githubusercontent.com/5923094/75404094-60d7b000-58be-11ea-926c-77afb7e99572.png)

[2020-02-27 08:11] lpatmo commented on #77
Great questions! @BethanyG actually asked similar ones, IIRC. :)

Was thinking that the maintainers of open source projects could create projects on the CB site, and invite CB members who might want to "join" the project as a member in the sense of following along on what's happening with the project.

Analogy: open source maintainers creating a Slack channel for their project on the CB Slack. Alt

[2020-02-27 08:17] lpatmo commented on #71
Looks great!! 👏

[2020-02-27 08:33] lpatmo commented on #79
Thank you! Using this GitHub feature makes a lot of sense. Seeing all the tasks laid out visually in an issue is helpful too, but in the past I've also gotten into the problem of forgetting which issue is the 'master' issue.

💯

[2020-02-27 21:41] billglover commented on #77
No apologies needed at all. I think this is exactly the type of discussion we should be having about endpoints. I'm wondering if we could pair this back a little and ship a cut down version of the idea. This would allow us to add to it as we see how it is used. Removing features (aka fields) is much harder than adding them.

Could we start by using the Projects endpoint to track projects that the

[2020-02-27 21:42] billglover commented on #71
This is looking really good!

[2020-02-28 21:39] billglover commented on #65
Some documentation:
https://github.com/codebuddies/backend/wiki/Production-Deployment

[2020-03-01 09:21] lpatmo opened #94 "GROUP BLOG EXPERIMENT"
## Why?
Every so often, it's helpful to jot down some retrospectives about what we've learned/what wee accomplished/challenges we're facing.

Since it can be hard to schedule a good meeting time that works for everyone, this group blog experiment also serves as an asynchronous supplement to group roadmap meetings.

## What can I post here?
Please post using one of the following two templates:

[co

[2020-03-01 18:59] angelocordon opened #95 "What should happen to user data when they ask for it to get deleted?"
# Context
When a user asks to delete their data, how should the app handle their records? If they post a Resource, should the Discussions attached to the Resource get deleted as well?

Short answer: the content will not be deleted, but the attributed user will be anonymized.

**Some thoughts:**
[Linda] the way Slack handles when people email to request account deletion is it changes their username

[2020-03-01 19:27] angelocordon commented on #95
[From Bethany] Be upfront about expectations

[2020-03-04 03:48] BethanyG commented on #73
@bengineerdavis  - TL;DR _**its complicated**_.

Tags are already their own "model" -- they just aren't attached to what they are _tagging_ as a **Foreign Key** relation.  Not right now.

[**This Medium post**](https://medium.com/sthzg/a-short-exploration-of-django-taggit-bb869ea5051f) helped me think through things a bit.  As did this [**Django documentation on generic keys and contenttypes**](ht

[2020-03-04 18:07] BethanyG commented on #78
Some things here:

1.  Exploring tools for dependency management is on my "next things" list.
2. This bug will be "fixed" in the tagging PR #96 by bumping the version of **`python-slugify`**, but I will open a new bug about dependency management/tools.
3. Testing infrastructure is also on my "next things" list, and I will be assessing if **`Faker`** is even something we want to deal with, given ou

[2020-03-04 18:21] BethanyG opened #97 "[Tooling] Looking at & Managing the Project Dependency Tree"
### Thoughts | Concerns | Recommendations on Dependency Tree Management

**Ideally, any system proposed should do the following with minimal tooling.
It also needs to work with our docker dev setup with minimal configuration.**

1.  Identify dependencies that have new versions available
2.  Identify unused dependencies and remove them
3.  Identify dependency conflicts at the time they are introduc

[2020-03-04 18:35] BethanyG commented on #80
As of **PR** https://github.com/codebuddies/backend/pull/96, the field to reference tags should change to the following:

[code]

This field for **guid** should use **UUID1**:

[code]

and the imports at the top of the `projects/models.py` file should be:

[code]

[2020-03-04 18:41] BethanyG commented on #83
As of **PR** https://github.com/codebuddies/backend/pull/96, tags serialization is handled by an app, **`tagging`**.  Below is an example from **`resources`** on how **tagging** is used:

[code]

[2020-03-04 18:47] BethanyG commented on #84
As of **PR** https://github.com/codebuddies/backend/pull/96, tags serialization is handled by an app, **`tagging`**.  Below is an example from **`resources/admin.py`** on how **tagging** is used:

[code]

[2020-03-04 18:52] BethanyG commented on #79
Stealing an idea from PyLadies, which names all their "epics" as [TRACKING ISSUE].  Can remove if this is too visually noisy.

[2020-03-04 19:00] BethanyG opened #98 "[Testing] Add Model Tests for Resources and Tagging"
Need to add specific model tests for Resources and Tagging, and provide framework going forward for those types of tests for other endpoints.

- [x] CustomTag model - https://github.com/codebuddies/backend/pull/121
- [ ] Resource model

Adding these links, in case they're helpful:

-  [Testing Models with Django using PyTest and Factory-Boy](https://medium.com/@dwernychukjosh/testing-models-with-d

[2020-03-05 07:49] brylie commented on #97
Poetry is nice.

[2020-03-05 17:01] BethanyG commented on #77
I like the idea of pulling in initial `tags` information from the languages identified in GitHub - would there be a way to do this on the front-end, to "pre-populate" the tags field?  That way, users could add additional tags if needed..but we'd have an automatic "baseline", so we could do filtering/searching.

[2020-03-06 22:14] #71 closed

[2020-03-06 22:14] #74 closed

[2020-03-06 22:14] #78 closed

[2020-03-06 22:14] #86 closed

[2020-03-06 22:44] BethanyG commented on #22
Going to try and take a shot at this at some point soon, but would welcome some collaborators.

[2020-03-07 14:13] billglover commented on #22
Am I right in understanding that the aim of this is to allow the user to specify which fields they'd like their search query matched against as part of the search request and that without this the default is to search all fields?

[2020-03-07 14:18] billglover commented on #30
This looks like it was addressed by #99.

[2020-03-07 14:18] #30 closed

[2020-03-07 14:43] billglover commented on #50
This is closed by #99.

[2020-03-07 14:43] #50 closed

[2020-03-07 14:48] billglover commented on #76
My understanding is that are comfortable that the documentation of fixture data is sufficient and that there is no need for this to be committed as a `projects.json` file for the application. I'm closing this issue for now, but please re-open if my understanding is incorrect.

[2020-03-07 14:48] #76 closed

[2020-03-07 14:52] billglover commented on #81
Are we using branch [issue-79-add-projects-endpoint](https://github.com/codebuddies/backend/tree/issue-79-add-projects-endpoint) for this work? I would urge caution as this now differs significantly from `master`. Please let @codebuddies/backend know if help is needed.

[2020-03-07 14:53] billglover commented on #85
Are we using branch [issue-79-add-projects-endpoint](https://github.com/codebuddies/backend/tree/issue-79-add-projects-endpoint) for this work? I would urge caution as this now differs significantly from `master`. Please let @codebuddies/backend know if help is needed.

[2020-03-07 20:17] BethanyG commented on #22
That is correct.   The current implementation is a "default" implementation of the [**DRF Filter Backend**](https://www.django-rest-framework.org/api-guide/filtering/#filtering-against-query-parameters), which

[2020-03-07 21:17] angelocordon opened #101 "Authentication and Sign Up Strategy"
This is originally from https://github.com/codebuddies/frontend/issues/77 that was started by @lpatmo but we thought it might better be discussed here.

The original discussion:

Magic links where user would input their email and get a link to signup

Let's discuss advantages/disadvantages, including:

Can signup magic links exist alongside a normal username/password flow?
Can they exist alongside

[2020-03-07 21:25] angelocordon commented on #101
I'd like to avoid social auth for now, and revisit the need for us to implement it. I think some of the complexities that might arise could be linking accounts to the correct profiles. Perhaps if anything, we should retain emails as the main attribute to a user account. I could see why we might want to give other options, but they seem likely to be small edge cases.

Potentially, I really like the

[2020-03-07 21:45] BethanyG commented on #22
**Correction**.  We are using the [**DRF Filter Backend**](https://www.django-rest-framework.org/api-guide/filtering/#searchfilter) - but functionally, it more or less has the same effect.  Yes - we can control which fields the search runs against, but it is not a very intelligent search - and we cannot currently include tags as part of the search fields.

[2020-03-07 23:07] BethanyG commented on #101
As far as I understand, Django uses a **`username`** as an account identifier, and an **`email`** is not required, but a strong **`password`** (we can determine the criteria for what constitutes strong) **is** required.  We **can** require an email...but we should discuss if we want to do that, and if we want to always persist it.  That would also require a codebuddies API change.

Just for some t

[2020-03-08 03:09] lpatmo commented on #81
Thanks for the reminder! I've rebased the `issue-79-add-projects-endpoint` branch from master.

cc @bkbuilt -- please pull and `git rebase master` also if you've started working in a new branch for this or another issue :)

[2020-03-08 17:18] angelocordon opened #103 "[Discussion] What to do with v2 accounts?"
How should we think about migrating v2 accounts into v3 as they're in a different database?

[2020-03-08 21:14] billglover commented on #31
This looks like it was closed with c6dd158.

[2020-03-08 21:14] #31 closed

[2020-03-09 04:32] nuageklow commented on #88
Currently importing Linda's content to a community_health_file.md. https://github.com/nuageklow/backend/blob/master/community_health_file.md. Feel free to give me feedback on this :)

[2020-03-09 05:48] lpatmo commented on #88
@nuageklow That looks like a great start! When you make the PR, the contents of that should replace README.md :) (in case that wasn't clear). Thank you!

(And then @bengineerdavis is working on moving the setup instructions currently in our README into a new CONTRIBUTING.MD file.)

[2020-03-09 07:23] nuageklow commented on #88
im done drafting the md file :) could anyone take a look to see if there is anything that needs to be changed?
or should i just submit a PR directly?

[2020-03-09 10:13] billglover commented on #88
Thank you @nuageklow. Please submit the PR. When you do it provides a way for people to leave feedback.

[2020-03-09 10:38] #68 closed

[2020-03-10 06:45] lpatmo commented on #101
A sixth library we can add to the list for magic links:

https://github.com/aaronn/django-rest-framework-passwordless (found on the bottom of the [DRF page](https://www.django-rest-framework.org/api-guide/authentication/))

[2020-03-10 21:39] chris48s opened #107 "[Testing] docker-compose run --rm manage test users runs zero tests (PyTest not used as TestRunner)"
The `users` app does have some tests defined in it: https://github.com/codebuddies/backend/tree/master/project/users/tests but they're not actually being run in CI: https://github.com/codebuddies/backend/blob/1607b816ad9c36c2fc0428c081b4d8bf914b25da/.github/workflows/test.yml#L24-L26

[code]

The main problem here is that there is a mix of pytest tests and django tests. Django's `unittest.discover

[2020-03-11 03:55] BethanyG commented on #107
@chris48s  - thank you for the through look over - it is much appreciated.

To be honest, we "ended up here" because we haven't really been focusing on fully detailed tests through PyTest, but rather MVP functionality, and very very basic unittests, using `unittest`.   We're not yet using PyTest.  (Personally) I'm just starting to think through non-brittle tests and the use of PyTest, test data, c

[2020-03-11 07:15] BethanyG commented on #107
**Correction**.  The **`conftest.py`** file was moved to the **core/** folder...which is causing issues.

Playing with it..but will probably give up in  a bit, since its late for me.

[2020-03-11 22:42] chris48s commented on #107
OK. I hadn't clocked that

* the tests that exist in `/users` fail if you try to run them with pytest
* the tests that exist in `/users` were auto-generated tests rather than ones you'd written yourselves

Agreed. Lets get to a stage where the test suite you already have actually works.

Personally I'd say the second step is to get all your tests running with one test runner. If you start getting

[2020-03-21 17:42] BethanyG commented on #81
@bkbuilt  - are you still working on this and the associated issues?

[2020-03-21 22:58] bengineerdavis commented on #90
Hi all, because of all the craziness and other foreseen circumstances, this should be assigned to someone else. I will, when time allows, come back to this or contribute through another PR here.

[2020-03-21 22:59] bengineerdavis commented on #88
I won't be able to contribute to this issue for the time being, feel free to un-assign me for now, and I will follow up when I have more time to work on this.

[2020-03-21 23:00] bengineerdavis commented on #70
I won't be able to work on this issue, as planned, please un-assign me, and I will look into this at a later date when circumstances allow. Thank you!

[2020-03-22 18:55] chris48s opened #110 "[Discussion] New User Registration Confirmation emails & Associated Changes Needed"
When a new user signs up send them an email.

Questions:
- Is it just a simple confirmation of signup, does it also need a link to validate the email?
- If a validation link is needed, what's the endpoint for that? Does this feature span frontend and backend repos?
- How is the email delivered: What's your mail transport layer?

[2020-03-22 19:02] BethanyG commented on #110
We'll also need the _text_ of the confirmation email.  Will we want to localize this, or are we sticking with English only for the MVP?

[2020-03-22 19:12] lpatmo commented on #110
Thank you for beating me in filing this ticket!

## Acceptance criteria (feel free to suggest edits):
[ ] Create API endpoint to validate the signup
[ ] Email template:

[code]
[ ]

Possibly helpful blog post: https://medium.com/@blakeyang22/django-signup-with-activation-email-via-api-7384e6766710

We'll need a link to validate the email!

Tentatively, we can make the endpoint `auth/users/validate

[2020-03-22 19:23] lpatmo opened #111 "[User Registration] Make email required on backend"
## Context
We need to make sure the email field is required when a new user is registered via the /auth/users API endpoint.

## Acceptance Criteria
[ ] Change the line in the model to make sure email is required
[ ] Make migrations file and run migrations
[ ] Add models test
[ ] Make sure tests pass

## Ticket sizing
1 (small)

[2020-03-22 19:32] BethanyG opened #112 "[Users] Change Email to Required Field for User Registration"
Change `email`  in users_user  to be a required (non-blank) field.

Since we are using a custom user model, this change will need to be made in the `model.py` file of the **`users`** app.

*  [**Custom User Models (Django Docs)**](https://docs.djangoproject.com/en/2.2/topics/auth/customizing/#using-a-custom-user-model-when-starting-a-project)
*  [**Referencing the Custom User Model (Django Docs)**

[2020-03-22 19:34] BethanyG commented on #112
Closing as duplicate.

[2020-03-22 19:34] #112 closed

[2020-03-22 19:34] lpatmo commented on #90
No worries at all and thank you, @bengineerdavis! I will put out the call if someone else is interested in taking this; otherwise I will tackle it.

PS I think you should also have the ability to un-assign yourself (for future reference). :)

[2020-03-22 19:40] lpatmo commented on #94
![image](https://user-images.githubusercontent.com/4512699/77258811-3cab8c80-6c3a-11ea-97fa-13fcd8d49f81.png)

[Notes from the meeting](https://docs.google.com/document/d/1YuVO-v0n73ogoFIwpwJgI1Bkso8sP2mg5zqbX9FB3lU/edit#)
[Full Zoom recording](~2 hours)(https://zoom.us/rec/play/uJElcbz9rDs3GdWT5ASDCvYvW9Xoe6OshiVL-6VbzE6yWiFWOgelYudBZerZ_4_J8rOdaJfu9alZL-VB?continueMode=true)

[2020-03-22 19:44] BethanyG commented on #111
@lpatmo  This is not an API change  and since we are using a **custom model**, it is an _**addition**_.

Add `email`  in users_user  as a required (non-blank) field.

Since we are using a custom user model, this change will need to be made in the `model.py` file of the **`users`** app.

*  [**Custom User Models (Django Docs)**](https://docs.djangoproject.com/en/2.2/topics/auth/customizing/#using-a

[2020-03-22 19:55] BethanyG commented on #110
Since we're now validating email addresses, we'll have to make changes to how we issue tokens.

I suggest we separate this out into several issues, so that we can be clearer on the changes needed.

[2020-03-22 20:00] BethanyG commented on #110
Looks like we need to make a serializer change for this to work, but I will probably need to do some more digging.  [**This SO Post on Email verification with JWT**](https://stackoverflow.com/questions/31515516/django-jwt-generate-token-if-email-confirmed)  Has a starting point.

[2020-03-22 20:13] lpatmo commented on #111
Gah I was going to give this to @bkbuilt or someone else who expressed interest since it's a good beginner issue, but started playing around to test it out in a new branch and realized I might as well create a PR for it.

PR: https://github.com/chris48s/backend/pull/1/files

Note that it is based off of https://github.com/codebuddies/backend/pull/109.

I documented my implementation steps in https

[2020-03-22 20:14] lpatmo commented on #111
(Or... if #109 gets merged in first, I'll just re-submit the PR to point towards `master` instead of towards Chris' branch)

[2020-03-22 20:21] BethanyG commented on #111
@lpatmo I hate to do this to you, but for clarities sake, I really think this should be  a separate PR...just so we keep related PRs with their milestones??

[2020-03-22 20:25] lpatmo commented on #111
No problem, I meant to do this as a separate PR, but realized this was dependent on the other PR being merged in 😅. Happy to resubmit the PR to `master` after that other PR is resolved!

[2020-03-22 20:30] BethanyG commented on #110
Ooof.  If we are doing a validation email, do we also need a "thank you for validating" landing page when they click the link??

[2020-03-22 20:34] BethanyG commented on #111
🤔   ...yeah.  We need to get our arses in gear around testing....aaaaand you'll need to add a model test for your change 😄 .

[2020-03-22 20:48] lpatmo commented on #111
Haha, cool! I missed that in my acceptance criteria 😅

[2020-03-22 20:51] lpatmo commented on #110
Yep -- in the React app, right? I was thinking we could redirect the user to their profile page upon registration or login, and show a banner/alert at the top that says "Thank you for validating!" if they came from a validation link.

(I'm still researching exactly how the validation process works)

[2020-03-22 21:02] BethanyG commented on #110
Yup.  It's that validation link that I am trying to think through.  So taking a crack at a flow:

1.  User fills out registration page and clicks [submit]
2.  POST is sent to `/auth/users/register`
3.  User is created in backend DB with status of "unverified"
4.  email is sent with validation link.
5.  ??front end message to user??
6.  User logs into email and clicks validation link
7.  ??This lin

[2020-03-22 21:05] BethanyG commented on #110
Yup. It's that validation link that I am trying to think through. So taking a crack at a flow:

1.  User fills out registration page and clicks [submit]
2.  POST is sent to /auth/users/register
3.  User is created in backend DB with status of "unverified"
4.  email is sent with validation link.
5.  ??front end message to user??
6.  User logs into email and clicks validation link
7.  ??This link hi

[2020-03-22 23:13] BethanyG commented on #48
Since I do not have strong opinions for using one of these over the other, I'm going to go with [**Factory-Boy**](https://factoryboy.readthedocs.io/en/latest/), both because @chris48s is familiar with it, and because it works for projects beyond Django, and is therefore a good testing tool for potential contributors to learn.

Open to additional opinions or discussion, but changes beyond this poin

[2020-03-22 23:21] BethanyG commented on #48
@chris48s  -- we also have [**Faker**](https://faker.readthedocs.io/en/master/) installed, but I don't really like what I am reading about how limited the data it produces is.  Granted, I haven't done _extensive_ reading.  Any recommendations there are very welcome.  😄

[2020-03-23 08:30] lpatmo commented on #110
I wonder if we may need to use an additional package alongside `django-allauth`, after doing the [ACCOUNT_EMAIL_VERIFICATION = 'mandatory'](https://django-allauth.readthedocs.io/en/latest/views.html#e-mail-verification) thing. Either:

1/ https://github.com/sunscrapers/djoser/

or

2/ `django-rest-auth`

The second is documented [here](https://django-rest-auth.readthedocs.io/en/latest/api_endpoint

[2020-03-23 09:05] BethanyG opened #113 "[User Registration] JWT Serializer Changes in Support of User Email Validation"
## Background

In talking through the "New User Email" flow on 3/22, we identified multiple pieces of New User Registration & Authentication that need to be implemented/changed. One of those pieces is JWT Token auth.

Currently, a JWT token is issued for any valid **POST** to the **`/auth/obtain_token/`** endpoint.  This needs to change to a **`403 - 'E-mail is not verified.'`** for any POST that

[2020-03-23 09:54] BethanyG opened #114 "[User Registration] Changes to userauth App in Support of Email Validation"
## Background

In talking through the "New User Email" flow on 3/22, we identified multiple pieces of New User Registration & Authentication that need to be implemented/changed. One of those pieces is the **`auth/`** endpoint, and configuring [**`django-allauth`**](https://django-allauth.readthedocs.io/en/latest/configuration.html)  & potentially installing and configuring [**`django-rest-auth`**]

[2020-03-23 10:08] BethanyG commented on #110
Thank you for the links!  I am going to have to dig into this a little more, especially around when/with what status newly registered users are created in the DB.

I am also a little nervous about sending a token to the user via email...so I need to do some reading there.

[2020-03-23 10:17] BethanyG opened #115 "[Testing] [WIP] Use Factory-Boy to Create Seed Data for Dev and Staging DBs"
This needs more detail, but I am logging this here so I don't forget it.  Will update with detail shortly.

[2020-03-25 06:33] nuageklow commented on #90
Hi I can help with the initiation of contributing.md. Will follow up with you guys if i run into any issues :)

[2020-03-25 11:10] billglover commented on #88
@bengineerdavis no problem at all. I've removed the assignment.

[2020-03-25 11:11] billglover commented on #70
@bengineerdavis no problem at all, thanks for letting us know.

[2020-03-25 11:14] billglover commented on #48
Thank you. This feels like we have a decision to progress with Factory-Boy. Do we want to keep the issue open until we have updated existing tests?

[2020-03-25 19:47] #107 closed

[2020-03-26 19:24] BethanyG commented on #110
@lpatmo  - just occurred to me that we are talking about a **`users`** endpoint, but we haven't really spec-ed the **JSON** for what a user profile looks like 😱 😱 😱 .  Another issue to log....

[2020-03-27 00:04] BethanyG commented on #48
@billglover  -- yes, I think that's our current strategy.

[2020-03-27 05:08] lpatmo commented on #90
Thank you so much, @nuageklow!

[2020-03-27 05:19] lpatmo commented on #110
Ah right, this is one of the issues I'd talked about in the summary last weekend but didn't file an issue for 😂 I think we can keep it simple for now and add to it later, right?

[2020-03-28 21:18] BethanyG opened #118 "[User Registration] Need to Define JSON Spec for User Profile"
## Background

In talking through User Registration, email validation, and login flow, we realized we haven't defined a **user profile** or **user** JSON Spec.  Now sounds like  a good time for that.

## Acceptance Criteria
[ ] Basic, working JSON Spec. for a `user profile`, in support of  `new user registration`
~~[ ] Spec should have *email* as a required field (see issue #111 )~~  Please see di

[2020-03-29 01:42] aonomike opened #119 "[Tooling] Set up Issue Template"
Set up TEMPLATE.md to guide contributors creating new issues on the standard of the detail to include on their issues. Something more like [this](https://github.com/GatorIncubator/advisagator/blob/dfe5d2d5d348259b3560199e77e0c66def8e53dd/.github/ISSUE_TEMPLATE.md/feature_request.md)

[2020-03-29 01:51] aonomike opened #120 "[Tooling] Setup code coverage to work with the project"
## Background
There is need to have code coverage reports in the codebase to help point at areas where we need to add tests

## Solution
Setup code coverage to generate coverage reports and set it up with CI. Use [cookiecutters](https://cookiecutter-django.readthedocs.io/en/latest/) as a reference maybe?

[2020-03-29 19:55] BethanyG commented on #118
This is our current `user` (based on the users.json fixture we have in the repo):

[code]

[2020-03-29 21:09] #120 closed

[2020-03-29 22:44] lpatmo commented on #119
FWIW, the minimum I'd like to see in an issue template, personally, are:

## Background

## Acceptance Criteria
[ ] Example task 1
[ ] Example task 2

## Other implementation notes (to help the contributor who makes the PR)

[2020-03-29 22:54] lpatmo commented on #118
👍That makes sense!

We're talking about what we'd want to see on a user's profile page after a user logs in (aka a GET request to a `/users/{user_GUID}` API endpoint), right?

if so, I'm thinking what is acceptable for our MVP would be:

[code]

Any additional fields that Django would give us would be great/additional icing.

In terms of our own custom fields (if we wanted to add in additional use

[2020-03-29 22:57] BethanyG commented on #118
So I don't think it would be too hard to add those final 4 fields (introduction, skills_to_improve, skills_can_help_others_with, timezone) into our model.

[2020-03-29 23:18] lpatmo commented on #118
Cool! And, sorry -- let me introduce one more -- an image URL field (image can be hosted externally). I noticed this pattern in another startup's form just now and seemed like an easy way to get around having to support image upload and host images ourselves.

[code]

I was thinking the only possibly will-take-more-time-to-implement field would be `timezone`, since it'll need to be a CHOICES list

[2020-03-29 23:38] BethanyG opened #123 "[Tagging] Slugify Mangling Tags Written in Brahmic scripts / abugida writing systems (Vowels are being stripped)"
The expectation of the `slugify(allow_unicode=True)` call in the `tagging/models.py` **`CustomTag()`** class is to pass any tag written in unicode characters through mostly untouched except for
1.  removal of leading and trailing spaces
2.  replacing spaces between words with the **-** character
3.  lower-casing the words
4. ~making sure the resulting tag is "unique"~
   (_this is actually the job

[2020-03-30 04:49] BethanyG opened #124 "[Tagging] Slug-ification of Emoji & ASCII Images Results in Useless/Unidentifiable String"
While emoji can be successfully saved to postgreSQL, they cannot be successfully or safely passed through Djangos `slugify()` code - while emoji **can** be used as part of a URL  see [this](http://factmyth.com/factoids/you-%F0%9F%91%8F-can-%F0%9F%91%8F-put-%F0%9F%91%8F-emojis-%F0%9F%91%8F-in-%F0%9F%91%8F-urls-%F0%9F%91%8F/) obnoxious example...it is still frowned upon, and Djangos code doesn't tol

[2020-03-30 05:27] BethanyG commented on #118
Ooof.  I don't wanna over-complicate this, and we may want to shelve it for the MVP.  But my assumption would be that a user's profile would give them access to re-setting their password and/or changing their username, email, and password - or any info associated with them.

So it may not be this GET endpoint.  We may have another one for when a user goes into "change" mode that requires them to a

[2020-03-30 05:31] BethanyG commented on #118
For a profile image, I know some services use [**gravitar**](https://en.gravatar.com/), which is pretty straightforward.  Github works, too...for GitHub members.

As long as we don't have to deal with managing the files (and the image+url are clean of any malicious code), AND the image is the "correct" size for the GUI...yeah...external would be the easiest.

[2020-03-30 07:28] lpatmo commented on #118
Ahh, you're totally right re: password resetting; I somehow forgot to log that. I don't think we need to return it in the GET request, necessarily; the user could click on a "Reset password" link, get an email with a link to a unique page, and then reset their password without seeing their old password. (Hacker News does this, for example.) But it's also a separate issue from this one.

Thanks for

[2020-03-30 18:35] chris48s commented on #123
The other key property of a slug (perhaps more important than any of those) is it should contain only characters which are URL-safe or have no special meaning in the context of a URL.

Tbh. I wonder if we're fixating on a feature that may not be that important in the context of this project. See my question in https://github.com/codebuddies/backend/pull/121#discussion_r400403287 Understanding more

[2020-04-01 09:42] nuageklow commented on #90
Currently working contributing.md and want to double check on the current README.md section Step no. 5 creating superuser. Is it required for every CBV3 contributor to create their own superuser account? From my understanding superuser account is not required to run manage.py for django.

[2020-04-05 01:22] BethanyG opened #125 "[Resources] Media Type Choices Field Value is Dropped when POSTing in JSON"
_This is why we test._  🙄

If a `resources` record is created via POST (using cURL, Postman, charles, or other client), the value in the `media_type` field (defined as a CHOICES field) is dropped.  It is handled OK if the POST is done via the browsable api (which uses a Django form view), but needs to have an additional methods for the DRF serializer to render & save it correctly.

See [**this Sta

[2020-04-05 05:11] BethanyG commented on #123
So.  Unlike a blog or an article DB, I don't think we're going to have a whole lot of need to have a `tag >> slug >> URI`  for every tag.

This was more a way for us to cut down on a few of the duplicate/overlapping tags we know will be coming our way, and have a "standard" way of referring to/composing names for tags.

To be brutally honest, I was trying to use/repurpose already existing "uniquif

[2020-04-06 03:02] BethanyG commented on #124
### Porting over the discussion we were having in  PR #121

______

#### [chris48s](https://github.com/chris48s)** [7 days ago](https://github.com/codebuddies/backend/pull/121#discussion_r399795637)

Author Member

In these two cases, the tests pass based on the values from the fixtures but it seems like these aren't generating particularly useful slugs (esp when you consider the objective of slug

[2020-04-06 03:05] BethanyG commented on #124
Final comment there from Linda:

___

#### [lpatmo](https://github.com/lpatmo)** [22 minutes ago](https://github.com/codebuddies/backend/pull/121#discussion_r403802305)

Member

Sounds good! (Btw, to clarify my earlier statement, I was talking about the error message from an API call as well -- that is, even though we'd have front-end validation, I'd like to see an error message returned if I say

[2020-04-06 03:06] BethanyG opened #127 "[Tagging] Implementation of Tag Validation"
##  Background

While implementing tagging tests, a number of bugs with the `slugify()` code and tagging were revealed.  In particular, issue #123 and #124 have started a discussion around what we want to allow or disallow in tags, how we want validation and error handling to work with tagging, and weather or not we want to include related tags from a particular endpoint (e.g. resources, hangouts,

[2020-04-06 03:13] lpatmo commented on #124
Yep! 🙌Thanks for porting all these comments over! :)

[2020-04-06 03:29] BethanyG commented on #124
Ooops.  Sorry @lpatmo!   I just..removed them in favor of issue #127...but can put them back if needed....

[2020-04-06 04:20] lpatmo commented on #124
Haha, no worries. This makes the acceptance criteria in this issue clean/easier to read!

[2020-04-06 07:25] lpatmo opened #128 "[API] Make the GET /resources endpoint public"
## Context
Right now, on the front-end, we need to pass in a token (i.e. the user needs to be logged in) before they can see a list of resource.

[code]
This should be true for when users are creating a resource, but the list of resources on https://cb-react-concept.netlify.com/resources should be available to the public.

## Acceptance Criteria
[ ] Make GET /resources not protected by authorizati

[2020-04-06 13:32] chris48s commented on #128
If you wanted to use this as an issue to walk someone through their first contribution, this should be close to a one-line change to the API code:

https://www.django-rest-framework.org/api-guide/permissions/#isauthenticatedorreadonly

[code]

- Set up a dev environment
- Make that change
- Write a test
- Submit a PR

probably fits nicely into a 1 hour hangout.

[2020-04-06 13:34] #48 closed

[2020-04-06 13:37] chris48s commented on #115
Now #116 is merged I'm happy to pick this one up. I think its pretty straightforward:

:factory:   Write a management command to build some test data using factories
:x:  Delete the fixture files
:books:  Update the docs with how to init DB with test data

Are you happy for me to just run with it, or do you want to pair on this one too?

[2020-04-06 13:40] chris48s commented on #127
Just picking out one point from the above ;)

My thought is that you want the ability to apply tags to a resource independently of resource creation. For example, if I find a resource about using pandas and numpy which is already tagged as "python" but not "data science", I should be able to tag it as "data science" at a later date.. but maybe that is just implemented as a `PATCH` request to `/res

[2020-04-07 04:58] lpatmo commented on #127
Ah thanks, got it! Yeah, a `PATCH` request to `/resource/<guid>` makes sense to me as the easiest way to update it. :)

[2020-04-07 05:04] lpatmo commented on #128
That's a GREAT idea!! I will raise it up in #codebuddies-meta.

_I_ could actually use some guidance on how to write a test for this, heh. We're primarily testing that the GET /resources endpoint works without passing in an auth token, right?

[2020-04-07 06:18] lpatmo commented on #128
Confirmed that `IsAuthenticatedOrReadOnly` works! 🎆Yay.

Updated the acceptance criteria with some ideas for tests (h/t @BethanyG for suggesting in #codebuddies-meta):

[ ] Change setup for tests to make sure we're not authed for the GET requests
[ ] Write test to make sure GET `/api/v1/resources/{{guid}}/` and GET `/api/v1/resources/` requests work without a token
[ ] Write test to make sure PATC

[2020-04-07 08:57] #72 closed

[2020-04-07 09:55] BethanyG commented on #127
A PATCH is the way it is currently implemented...._ish_.  A PATCH right now _replaces_ tags, but we could modify it to do an "add onto" instead.

It is a bit weird, because the `resources` model looks like it has this `tags` field..but it doesn't.  Using `taggit` requires that we drop a reference/call to the `TaggableManager` into each model we want to tag

BUT

`Tags` are their own model (and app

[2020-04-07 10:11] chris48s commented on #128
Reading your next post plus slack, it looks like you've already figured it out tbh :)

[2020-04-07 10:14] BethanyG commented on #115
Hey!  Now I have emoji bullet envy.  😄

Every time I think of this issue, I get hung up on introducing some sort of "meaning" to the data...like I want to make it "pretty" for display, or have a set of "realistic" resources with related tags...or resources that would have different groupings for search....and that is probably not a good thing.  I think my brain is just stuck on the fixtures that I

[2020-04-07 17:07] lpatmo commented on #128
🤞🤞:)

[2020-04-12 19:20] chris48s opened #131 "[Tooling] Keep dependencies up-to-date"
Set up dependabot/rennovate/whatever to automate dependency upgrades.

[2020-04-12 19:22] chris48s opened #132 "[Tooling] Run linting/coding standards checks"
My go-to combo is:

:8ball:  [flake8](https://pypi.org/project/flake8/)
:black_circle:  [black](https://github.com/psf/black)
:spiral_notepad:   [isort](https://github.com/timothycrosley/isort)

[pylint](https://www.pylint.org/) is also a popular choice

[2020-04-16 17:26] BethanyG commented on #127
I don't think this is the behavior we want when a duplicate tag is submitted:

![image](https://user-images.githubusercontent.com/5923094/79486980-67d09400-7fcc-11ea-95ca-4b4925f510f9.png)

Instead, I think we need to think through what the process will be for checking for duplicates and returning an appropriate message or tag.  Failing a resource because of a duplicate tag slug is .. not friendly

[2020-04-16 17:40] #115 closed

[2020-04-16 18:36] chris48s commented on #127
Hmm. Good thought. Is this new behaviour as a result of applying https://github.com/codebuddies/backend/pull/129/commits/558b06dc59706e12abe3969846782bd4b5e16413 or is this independent?

[2020-04-17 01:30] BethanyG commented on #127
I think it's a result of https://github.com/codebuddies/backend/commit/558b06dc59706e12abe3969846782bd4b5e16413.  There weren't any other changes made to the tagging code (just all the work you did around the tests).  I'll play with it...but suspect we'll need extended view/serializer logic that does (off the top of my head):

1.  A validation for "illegal" characters - fail both the `resource` an

[2020-04-17 01:55] BethanyG commented on #127
So....went in and commented out the `save()` method in  `tagging/models.py` in https://github.com/codebuddies/backend/commit/558b06dc59706e12abe3969846782bd4b5e16413:

[code]

Which then stops the rejection based on duplicate or already existing tags...instead, the code appears to use whichever tag + slug is already in the DB for the slug in question..but we'll need to do some more poking at it to

[2020-04-17 18:33] chris48s commented on #127
Aah no, so 558b06d prevents tagging a resource with the same tag twice (which is a constraint that taggit implements, but only at the manager layer, for.. reasons).

cdfe87a is the commit where we mad this change.

The original behaviour was that the tag name "Javascript" generates the slug `javascript` and then "+java/script" also generates the slug `javascript` so we change it to `javascript_1`

[2020-04-17 23:31] BethanyG commented on #127
Yeah - neither of those feels great as a behavior, but rejecting the saving of a new resource because someone didn't guess the magic slug for their JavaScript vs Javascript vs java/script** tag feels _**more wrong**_.

 _Isn't "hash collision" fun?_  The "long way" of fixing this would be to map `names` that slug to the same thing in the DB to their slug but retain the `name` as entered (so...buck

[2020-04-21 04:26] lpatmo commented on #128
PR: https://github.com/codebuddies/backend/pull/134

[2020-04-21 04:26] #128 closed

[2020-04-21 05:12] lpatmo commented on #94
Summarizing CBV3 code status:
:white_check_mark: DONE:
[API] user login/registration
[API] create, edit, delete, and view resources against the API
[API] Base of tests - refactor to use FactoryBoy, and add code coverage
[API] A way to generate seed data
[API] only logged-in users can edit, create, and delete resources; all users can view resources
[FE] implement resource listing page on front-end

[2020-04-30 08:12] lpatmo opened #139 "[Tooling] Staging API Deployment Strategy"
## Context
We need a staging API that https://cbv3.netlify.app/ (our frontend staging app) can consume.

Figuring this out right now is also good practice for when we _actually_ deploy to production. :)

## Acceptance Criteria
[ ] Create a staging branch
[ ] Create a new `Django` workflow in Github Actions
https://github.com/codebuddies/backend/actions/new
[ ] Create a DigitalOcean droplet
[ ] Cre

[2020-04-30 08:15] lpatmo commented on #139
(Ideally planning to look at this over the next few days in my free time, document in the notes doc, and will ask if I need help)

[2020-05-01 07:36] nuageklow commented on #90
oh no sorry for keep missing stuff :( I'll fix it soon!

[2020-05-03 00:02] #125 closed

[2020-05-18 07:58] BethanyG commented on #123
Whelp.  I did what I said I wasn't going to do, and wrote a regex to identify and exempt the abugidas from Djangos `slugify()`.  See attached PR for details..

[2020-05-20 07:12] #123 closed

[2020-05-20 07:12] #124 closed

[2020-05-20 07:12] #127 closed

[2020-07-07 11:54] nuageklow commented on #88
hey everyone. sorry for disappearing for so long. was browsing the issue list and realized this was never done :/ not sure if anyone else is helping out on it. if not i'll catch up on slack first and will start working on it.

[2020-07-29 03:02] lpatmo opened #149 "[Tooling] Add GET endpoint for search to POSTMAN"
### Acceptance Criteria
[ ] Add /api/v1/resources/?search=KEYWORD as a GET endpoint to Postman
[ ] Final Postman collection should look something like:
![image](https://user-images.githubusercontent.com/4512699/88751818-46279280-d10d-11ea-8ed0-5de80ff21188.png)

### Ticket estimate
2 (small)

[2020-07-29 04:42] BethanyG commented on #149
Please note that we currently only have a [**very** basic](https://www.django-rest-framework.org/api-guide/filtering/#searchfilter) search filter enabled in DRF.

**Current search fields are:**  'guid', 'media_type', 'title', & 'description'.

`author`, `user`, `tags`,  `url` (main & referring), `date_published`,  `date_created`, `date_modified`, and `paid` **are not searched**.

[2020-08-01 22:20] lpatmo commented on #88
Sorry I missed your message here, @nuageklow. Thanks for helping clear up Windows instructions last weekend!

It looks like all our contributing.md instructions are now cross-posted between the README.md and CONTRIBUTING.md, and tbh I don't mind being able to search for the docker commands in the README.md itself. But as Bill pointed out here originally, all the detailed information may be overwhe

[2020-08-16 22:49] BethanyG commented on #90
@nuageklow  -- are you still working on this, or can we close it for now?

[2020-08-16 23:04] BethanyG commented on #79
Closing this.  It has had no activity since March, and it feels like development is moving in a different direction ATM.

[2020-08-16 23:05] BethanyG commented on #77
Closing this as no longer relevant for current development.

[2020-08-16 23:05] #77 closed

[2020-08-16 23:06] BethanyG commented on #81
Closing this as no longer relevant to current development.

[2020-08-16 23:07] BethanyG commented on #80
Closing as no longer relevant to current development.

[2020-08-16 23:07] BethanyG commented on #82
Closing as no longer relevant to current development.

[2020-08-16 23:07] BethanyG commented on #83
Closing as no longer relevant to current development.

[2020-08-16 23:07] #83 closed

[2020-08-16 23:08] BethanyG commented on #84
Closing as no longer relevant to current development.

[2020-08-16 23:08] BethanyG commented on #85
Closing as no longer relevant to the current development.

[2020-08-16 23:08] #85 closed

[2020-08-16 23:11] BethanyG commented on #70
@lpatmo @billglover  -- is this still something we need open?

[2020-08-16 23:15] BethanyG commented on #139
@lpatmo   Is this still relevant?  Can we close?

[2020-08-16 23:24] BethanyG commented on #132
Closing for the moment.  Not that this isn't excellent -- just that we might want to add this to documentation, or otherwise set up actions, reviews, or some sort of templates yet TBD.

[2020-08-16 23:24] #132 closed

[2020-08-16 23:33] BethanyG commented on #103
Moved this to a discussion.  Closing (for now) as an issue, pending decsions.

[2020-08-16 23:33] #103 closed

[2020-08-16 23:38] BethanyG commented on #95
Closing this in favor of a discussion.  Can re-open or re-log when strategy is decided.

[2020-08-16 23:38] #95 closed

[2020-08-16 23:44] BethanyG commented on #73
Closing this in favor of a discussion.

[2020-08-16 23:44] #73 closed

[2020-08-16 23:45] BethanyG commented on #65
@billglover  - can this issue be closed as completed??

[2020-08-17 04:33] billglover commented on #65
This is definitely stale and can be closed. It was never implemented. The work done may be of interest, but I'm closing the issue.

[2020-08-17 04:33] #65 closed

[2020-08-17 07:57] lpatmo commented on #139
Er, actually this is still on my plate to do!

[2020-08-17 07:58] lpatmo commented on #149
I believe @watchtheblur started working on this in a new branch, so he'll make a PR for it soon.

[2020-08-17 08:00] lpatmo commented on #94
Closing this in favor of using the new `Discussions` feature

[2020-08-17 08:00] #94 closed

[2020-08-17 08:06] lpatmo commented on #70
Because there's a lot to read through in this thread (including an OP post by me that isn't entirely relevant), I think it may be confusing for someone newly coming across this task.

I think Bill's acceptance criteria above still makes sense to document, but maybe in the README.md (where the most-up-to-date contribution instructions live at the moment) instead of on the wiki... will file a clean

[2020-08-17 08:06] #70 closed

[2020-08-17 08:10] lpatmo opened #155 "[Documentation] Document guidance for when to run makemigration and --build commands"
## Context
See: Background: #70

## Acceptance Criteria
[ ] Add the following to the README to document when `makemigrations` commands should be run.

Draft text:
[code]

[ ] Add to the README some guidance for contributors to ensure they are running makemigrations at an appropriate point.

From @BethanyG in #70 :
[code]

[2020-08-17 13:42] watchtheblur commented on #149
The collection currently committed doesn't have the "PATCH a resource" in the screenshot above.  Is that ok?

[2020-08-18 00:54] lpatmo commented on #149
I think that's ok! I just realized I created a `PATCH` endpoint for myself, and we should get that into Postman too, but another issue/PR for that is fine.

[2020-08-18 02:47] nuageklow commented on #90
@BethanyG it should be done for now sorry. will close the issue now.

[2020-08-18 02:47] #90 closed

[2020-08-18 19:28] billglover commented on #88
It might be an idea to bring the Code of Conduct link nearer to the top, but other than that the structure looks good to me.

[2020-08-20 02:33] lpatmo opened #157 "[Resources] Add "beginner" (true/false) as a field to the /resources endpoint"
## Context
In the design hangout with @adachiu a few weeks ago, we raised the idea of adding a `beginner` boolean to /resources as a new field (instead of specifying beginner/intermediate/advanced).

## Acceptance Criteria
[ ] `Beginner` (true/false) should be returned as a field when querying a resource
[ ] Add `beginner` to the model and make sure migration files are checked in
[ ] Serialize
[ ]

[2020-08-20 02:44] angelocordon commented on #157
Curious in that context, what prompted this discussion? What challenges would this attribute be aiming to solve?

[2020-08-20 03:16] lpatmo commented on #157
IIRC, the historical discussion happened something like this:
- someone asked "why aren't we tagging these resources with beginner/intermediate/advanced" levels?
- we discussed how it's really hard to tell what it means for something to be "intermediate-friendly" vs "advanced-friendly"
- we discussed how beginners to something might still be interested in knowing whether or not a resource was begi

[2020-08-20 03:30] angelocordon commented on #157
Why aren't we using the tags for something like this?

[2020-08-20 03:56] BethanyG commented on #157
@angelocordon -- tags aren't easily searched or filterable at this point.  They are also at risk of becoming quite messy to maintain.

@lpatmo  We need to remove "beginner friendly" from this.  This is not a beginner friendly issue, as it requires changing an existing model, view, and serializers -- and the addition of multiple tests -- and may have other considerations as well.

 There also needs

[2020-08-20 04:04] BethanyG commented on #63
Making a comment for stale bot.  I think this is worth exploring further, just haven't been focusing on it.

[2020-08-20 04:21] BethanyG commented on #157
Also -- on reviewing the Slack discussion, thinking through the feedback mechanism (if any) would be good.  Would community members up or down vote or "report" a resource as not being beginner friendly?  And would we use this tag to surface resources -- or gather them into collections for display?

[2020-08-20 04:37] BethanyG commented on #110
Can try to look at this in the next week.

[2020-08-20 04:49] angelocordon commented on #157
Hmm, I think I might have a misconception of what resource tags are for. If we can't search for resources with a JavaScript or Python tag, how do we surface up particular resources? Are there other keys that we use for that?

I suppose despite the challenges of not being able to query or filter them, how are we thinking about the difference between a beginner label vs a normal resource tag?

This

[2020-08-20 05:37] BethanyG commented on #157
No -- I think you are asking good questions, Angelo.  [Here](https://github.com/codebuddies/backend/discussions/154) is a discussion thread with more tag related questions, with links to background info and docs.  TL;DR:  theres more discussion to be had, and more thinking to do around how/why/when/what we tag -- and what our intentions/uses are for it.  I'd welcome your thoughts and suggestions o

[2020-08-20 05:38] lpatmo commented on #157
Good call! Updated the acceptance criteria with an example.

I can imagine users wanting to filter by this tag. The idea of voting/reporting is interesting, but I wouldn't prioritize it. I mainly want to document the steps (via the PR corresponding to this issue) about how to add a field to the API, as a guide for future new contributors.

++. Let's show this to the user on the front-end on the he

[2020-08-20 06:11] BethanyG commented on #157
This is much better left for a PR or set of documentation on adding a new endpoint.  IMHO.  Not changing an existing endpoint.  When adding a new endpoint, beginners can refer to one that is already working to see what to add and do - and we can provide them template code (and clear and detailed specification, I would hope).  There is also pretty good documentation out there for them to read and f

[2020-08-20 06:56] lpatmo commented on #157
I think both are important, TBH. Having a guide for adding a brand new endpoint is important, but so is changing an existing one so that additional features can be added or tweaked after user feedback. (Am thinking of a user feedback -> design tweak cycle). Ideally we get most of the API right on the first try, of course, but I don't think it can be guaranteed.

I was thinking it won't be a requir

[2020-08-20 08:04] BethanyG commented on #157
So there is this info on [Data Migrations](https://docs.djangoproject.com/en/3.1/topics/migrations/#data-migrations) - though I've not written one myself.

When I've done this in the past, I've defined a few things -- I make the field required and not-nullable, and I set a default value in the model.  I've then been stopped during migrations and asked to either verify the default or fill in the va

[2020-08-20 08:57] lpatmo commented on #157
Oh man, it really _has_ been a long time, because now I vaguely remember that Django migrations did ask me in the past to fill in values for those new fields, including asking whether I wanted to have them be null or not. (maybe?)

Did you mean you generally try to make those fields required and not-nullable as a practice? Or mainly non-nullable, right? (As in, the field can either be required or

[2020-08-20 08:58] BethanyG commented on #157
Totally agree - but having those tweaks be done by someone new to the project - or to Django/DRF - who may not know any of the context sounds like a fairly high risk endeavor - for both the contributor and the project.  I think there are better ways to  get someone involved, and get them making meaningful changes on the back end. We don't want to set someone up for  breaking back end code, front e

[2020-08-20 09:15] lpatmo commented on #157
That sounds excellent. :D I wasn't feeling fully comfortable writing any documentation about it because I haven't gone through the experience of creating or an updating an endpoint myself, so I wanted to work on something small that confirmed some pre-conceived notions I had about the steps required for updating an endpoint. Using `projects` as a sandbox sounds good.

Mainly for display, yeah. I m

[2020-08-20 09:37] BethanyG commented on #157
🤔   ..and now that I think about it, `projects` is another place we might have a `beginner-friendly` flag or tag...so that might also be a "sandbox" we use for trying out different ways of conveying/playing with that.

Here is the tracking issue for the `projects` endpoint.  It has all the other "smaller" stuff linked.  Too bad we can't glue it all together..but maybe when I get time I can.  https

[2020-08-20 16:14] lpatmo commented on #157
Awesome, thanks!

[2020-08-21 00:09] lpatmo commented on #79
Re-opening this to use as sandbox issue :)

[2020-08-23 21:05] BethanyG commented on #79
@lpatmo  -- is @bkbuilt still working on this, or is this now something you are working on?  Do the associated issues also need to be reopened?

[2020-08-23 21:13] BethanyG commented on #119
@lpatmo  - assigned the two of us, since we've been going back and forth on the PR templates, and you mentioned you wanted to look at issue templates as well.  Happy to take a first shot at this, or you can.  😄

[2020-08-23 22:16] BethanyG opened #160 "[TRACKING ISSUE -API] Add New Hangouts Endpoint"
##  Add a **`Hangouts`** api endpoint.
### This is a **Tracking Issue**, individual task issues linked:

**`working branch`:**  **`TODO:  fill in working branch here`**

[ ]  Create JSON spec for `hangouts` api endpoint **`TODO:  fill in issue link here`**
[ ]  Create sample data/mocked data fixture for `hangouts` api endpoint  **`TODO:  fill in issue link here`**
[ ]  Create `hangouts` app, `apps

[2020-08-24 00:39] lpatmo commented on #79
I believe @bkbuilt is focused on `issue-55-post-resource right` on the frontend now (PS let me know if you need help or want to pair on it again, @bkbuilt, and I will schedule a time to focus on it!)

@watchtheblur may be interested in pairing on the "adding a new endpoint" workflow, and we'll make sure to re-open the associated issues as we do each step. Thanks!

[2020-08-25 09:44] BethanyG commented on #119
Just going to put this here as a possibility.  You can have multiple issue templates:

[2020-08-26 01:25] lpatmo commented on #81
Re-assigning this to @watchtheblur.

[code]

[2020-08-26 02:43] lpatmo commented on #119
Proposal for the types of issues we can have:

- Ask a question (linking to a new discussion under the `question` category)
- Bug
- Feature
- Refactor
- Documentation
- Other

(kind of paralleling what we have in the PR template)

[2020-08-26 03:50] BethanyG commented on #81
@lpatmo  -- good catch with the docker compose command.  All of these related issues were logged without considering `docker compose` -- so I am really glad you added that in!

[2020-08-26 09:25] BethanyG opened #161 "[API][WIP] Expected JSON Spec for `Hangouts` Endpoint"
**`PARENT TRACKER ISSUE:`**  https://github.com/codebuddies/backend/issues/160

This is a placeholder for the JSON Spec for the `Hangouts`  api endpoint.  Opening this as a separate issue from fixtures, as we need to discuss the fields, data types, relations, and formats needed to implement a model for the DB. Roughed out/proposed fields and POST format will go below:

[2020-08-26 09:29] BethanyG opened #162 "[API] [Sample Data] Hangouts API hangouts.json Fixture"
**`PARENT TRACKER ISSUE`**:  #160

Context
In preparation for the `/api/v1/hangouts` endpoint, we'll want a fixtures file for hangouts.json

Acceptance criteria
[ ] Create a hangouts.json fixtures file
[ ] Include 10 blocks of sample data inside it

[2020-08-26 09:38] BethanyG opened #163 "[API] Create Hangouts Django App and associated apps.py Files"
**`PARENT TRACKING ISSUE`**: #160

Create a Django app `hangouts` for the new  **Hangouts** api endpoint, and a `apps.py` file to go with it.

See [**Django startapp**](https://docs.djangoproject.com/en/3.0/ref/django-admin/#startapp) for some background details on how to do this via the `manage.py` app when using a `virtualenv`.

Since we are mostly using docker, `docker-compose run --rm app djan

[2020-08-26 09:42] BethanyG opened #164 "[API] Create Model for Hangouts Enpoint"
**`PARENT TRACKING ISSUE`**: #160

Based on the current proposed hangouts JSON, create a hangout model for the corresponding DB tables to support the hangouts DRF app.

JSON spec under discussion can be found in issue #161, check there for any changes/discussion.

[2020-08-26 09:48] BethanyG opened #165 "[API] Create Views and Queries for Hangouts Endpoint"
**`PARENT TRACKER ISSUE`**: #160

Create  views for the new Hangouts API Endpoint.  Some of these items may not need custom code, but are listed here as a reminder of what's needed:

- [ ]  Create **list** and **detail** views for the endpoint.  See the [**DRF ModelViewSet**](https://www.django-rest-framework.org/api-guide/viewsets/#modelviewset), [**DRF Generic Views**](https://www.django-rest-fr

[2020-08-26 09:52] BethanyG opened #166 "[API] Create Serializer for Hangouts Endpoint"
**`PARENT TRACKER ISSUE`**: #160

Create a Serializer for the New Hangouts api Endpoint.  Please review issue #161  as background to make sure the latest **GET** representation is used, and any **POST** differences are taken into consideration.

See [**DRF ModelSerialize**](https://www.django-rest-framework.org/api-guide/serializers/#modelserializer), [**DRF Serializer Relations**](https://www.dja

[2020-08-26 09:58] BethanyG opened #167 "[API] Register Hangouts Endpoint with Admin Interface and Create Admin Views"
We will want the ability to review/administer the **Hangouts** endpoint through the Django Admin interface, and so will want to register our `projects` app with the Django admin and provide any custom admin views we think we'll need.

See [**The Django Admin Site**](https://docs.djangoproject.com/en/3.0/ref/contrib/admin/#overview), [**Admin Actions**](https://docs.djangoproject.com/en/3.0/ref/con

[2020-08-26 10:03] BethanyG opened #168 "[API] Create `Hangouts` Endpoint URLs & Mapping"
**`PARENT TRACKING ISSUE`**: #160

We'll need to create url.py entries for our new `Hangouts`  API - both in the main **`urls.py`** file, and in the  **projects/`urls.py`** file

- [ ]  Create/add `urlpatterns` as necessary to **projects/`urls.py`**.  Include **`hangouts/`**, **`router.urls`**, and **rest_framework_urls** as needed.  See [**url dispatcher**](https://docs.djangoproject.com/en/3.0/t

[2020-08-26 18:32] BethanyG commented on #119
That looks great!

I wonder if we also want `Start a discussion`?  I go back and forth.  On one hand, we're socializing the discussions pretty hard right now in the community.  On the other - if someone has a proposal that they want to discuss - do we want them opening `bug` or `feature` issue about it (_with maintainers moving things to discussion as needed_) - or do we want to prompt contributor

[2020-08-26 19:11] BethanyG commented on #119
..with automation, we can also put appropriate tags on the templates, as well as putting them into a "triage" area in a project, assigning a team to review, etc. etc.

[2020-08-27 00:12] watchtheblur commented on #80
Working on it now

[2020-08-27 01:32] lpatmo commented on #160
Thank you for creating these issues! 👏

[2020-08-27 02:13] lpatmo commented on #119
Updated proposal (merging in your suggestions for `Tests Needed` and `Start a Discussion`):

[code]

[2020-08-28 00:09] watchtheblur commented on #84
working on it now

[2020-08-28 01:40] watchtheblur commented on #84
Django admin errors out with "Internal Server Error" when I have the following code in admin.py
[code]

[2020-08-28 04:26] BethanyG commented on #84
@watchtheblur - I think you're missing a couple of pieces of info in the osprojects/admin.py file.

First, (and I always forget this!) you need to import your model at the top of the file so that Django knows what DB tables are going to be administered through the admin interface.  For `osprojects`, the two imports should be:

[code]

Then, at the bottom of your class you should add the line `admi

[2020-08-28 04:55] BethanyG commented on #119
Looks good!  We can work on template drafts as we find time this week....or next!  😄

[2020-08-30 06:32] lpatmo commented on #119
Thanks! ... yeah, looking more like next week :)

[2020-09-04 02:07] lpatmo commented on #111
I _think_ we can recreate what I did in https://github.com/chris48s/backend/pull/1/files, plus add some tests to the model. Need to research where that will live, though 🤔

[2020-09-04 02:48] bengineerdavis commented on #111
Do you mind adding this and other things you find for our 'prep' in our [public docs](https://docs.google.com/document/d/e/2PACX-1vTpA-BcbCu0uEkqVfBM5L7exoIF_BC4GW1VtGDLAxKcYb9Q9FeYKtdB8CxsHxxmJ2DR1G255QW37zK3/pub)?

[2020-09-04 05:49] BethanyG commented on #111
@lpatmo @bengineerdavis @tgrrr -- apologies for not replying to this earlier. This change is needed for #113, #110, #113 which I am currently working on.  I don't think that what I am doing will interfere with this -- or vice-versa, but there may be merge conflicts if we're both checking in code in the next few days.

[2020-09-04 06:25] lpatmo commented on #111
Thanks for the heads up! We probably won't have a PR up sooner than next Tuesday (when https://codebuddies.org/hangout/nAadjwkpEsF9gsTGM is scheduled), fwiw.

In the meantime, added this as reading to the google doc: https://www.obeythetestinggoat.com/book/chapter_database_layer_validation.html

[2020-09-04 16:18] watchtheblur commented on #84
@BethanyG Thanks for looking into this!  I'd love some time to interactively debug this!  How should I coordinate with you to find a good time? (Slack/github?)

We took cue from resources/admin.py as you recommended. Here's my current, full osprojects/admin.py:

[code]

We commented out the code that seem to break the admin interface.

[2020-09-04 20:23] BethanyG commented on #84
@watchtheblur  Ooof.  So even with the changes, you still have the error?  That is indeed strange.  Yes - let's set up a time to interactively debug this.  I am as interested in why this **does** work for me as I am in why it **doesn't** for you!  _Smells like a mis-applied migration or weird data state...._ 🤔 .  Pinging me on Slack is the easiest for scheduling quickly.  I am in PDT (same timezon

[2020-09-05 22:34] #149 closed

[2020-09-05 23:03] lpatmo opened #175 "[Postman] Fix `media_type` bug"
## Context
`media_type` is a required field, but we don't currently have it in the Postman file as a field so a user who's just imported the Postman file will see this:

![image](https://user-images.githubusercontent.com/4512699/92314773-43804e80-ef91-11ea-9d4e-042ea205e71b.png)

## Acceptance Criteria
[ ] Add `media_type: BOOK` (as an example) to the Postman file for POST /resources.

[2020-09-07 18:32] BethanyG commented on #84
Just to document the steps I used to (**not** --  _sadly_) reproduce this error:

I am on a Mac running MacOS Mojave.
I am using Docker Desktop for Mac Community v2.3.0.4(46911)
The Docker engine is at v19.03..12 and Docker-Compose is at v1.26.2

1.  I removed all containers for the project via `docker-compose rm` (_so I could force a rebuild of all containers and components_)
2. I removed the ent

[2020-09-07 19:08] BethanyG commented on #80
@lpatmo -- should this be closed as a result of https://github.com/codebuddies/backend/pull/170?  Or are you keeping this open as a learning project (potentially reverting the PRs)/forking/branching etc.??

[2020-09-07 19:25] BethanyG commented on #101
Closing this in favor of discussion #178.

[2020-09-07 19:25] #101 closed

[2020-09-07 21:48] lpatmo commented on #80
Fine to close! I thought the PR being merged would close the issue it was linked to directly 🤔  but note to self to double check (and make sure to loop back in the issue) 🎉

[2020-09-07 21:48] #80 closed

[2020-09-07 21:54] BethanyG commented on #111
In investigating further the changes needed for email validation in registration, I've made a few discoveries that now (I believe) cancel out this change entirely.

Firstly, I didn't realize that `cookiecutter-django` (_which we used to generate this project_) **_pre-installed_** [django-allauth](https://django-allauth.readthedocs.io/en/latest/installation.html) in addition to implementing a custo

[2020-09-07 22:00] BethanyG commented on #111
Recommend that if you do go ahead and make this change that it not be merged (nor should the registrations changes I am making be merged) until we decide which direction we are going to go with registration.

[2020-09-07 22:03] lpatmo commented on #84
Thanks for testing it out! Recreating now...

1) git pulled the latest from `main`
2) Ran `docker-compose run --rm app python ./manage.py migrate` since I was seeing the following:
![image](https://user-images.githubusercontent.com/4512699/92417936-caf8c980-f119-11ea-9271-d0329de625ae.png)

3) Created a new superuser

4) Put the following into `osprojects/admin.py`:

[code]

Was able to create new

[2020-09-07 22:14] lpatmo commented on #111
D'oh and LOL SO GLAD YOU NOTICED THIS!!

I'll continue the discussion re: authentication in https://github.com/codebuddies/backend/discussions/178 :)

(In the meantime, I'll close this issue since it's not needed anymore)

[2020-09-07 22:14] #111 closed

[2020-09-08 03:49] lpatmo commented on #82
Probably looking at this with @tgrrr and @bengineerdavis tomorrow (and others welcome) in this hangout: https://codebuddies.org/hangout/nAadjwkpEsF9gsTGM

[2020-09-08 05:04] BethanyG opened #179 "[API Projects] "Model" tests for /projects endpoint"
Issues #80 and #81  (closed PRs #170 and #169) were approved and merged without tests being written for the code.  **This was not supposed to happen.**  Tests now need to be written for those two issues/PRs before going further with this endpoint.

- [ ] Model tests need to be written & run for the model changes made in issue #80
- [ ] Unit tests need to be written & run for the app changes made i

[2020-09-08 05:09] tgrrr commented on #111
Copied for reference here:

@BethanyG wrote on https://github.com/codebuddies/backend/issues/111:

https://github.com/codebuddies/backend/issues/178.

[2020-09-08 05:09] BethanyG commented on #79
@lpatmo @watchtheblur -- tests were left off of PRs #169 and #170.  Rather than revert those and create problems for myself and others, I've opened a new issue for the missing tests.  Let's make sure we get them completed as soon as possible.  Otherwise, we can't call this complete.  Thanks!

[2020-09-08 05:12] tgrrr commented on #82
Is this issue still no longer relevant @BethanyG ?

[2020-09-08 05:17] BethanyG commented on #82
@tgrrr  Please read the comment from @lpatmo  above, as this issue was reopened by her after I had closed it.  Please also refer to the discussion on #157 should you need more context around why this endpoint was closed and is now being reopened step by step.  Please also see issue #79 as the tracking issue for this endpoint.  Thanks!

[2020-09-08 05:38] tgrrr commented on #111
I also found this branch from @lpatmo working on this issue, dropping the link here for reference: https://github.com/codebuddies/backend/commit/ff5c10bee2a4366ad3dbf5edfd4e2e2f46b9dd34

[2020-09-08 05:56] BethanyG commented on #111
@tgrrr - this issue has been closed by @lpatmo and is unlikely to be reopened.  Please see the comments above.  Unless we decide we are re-creating email validation and user registration flows from scratch (very unlikely), we will have no need for the change.  @lpatmo work was never merged  and is not present in `main`.

[2020-09-08 06:50] tgrrr commented on #82
I've created a branch to keep the work on this issue together here: [issue-82-views-queries-projects-endpoint](https://github.com/codebuddies/backend/tree/issue-82-views-queries-projects-endpoint)

[2020-09-08 07:41] lpatmo commented on #179
@watchtheblur @BethanyG Test makes sense for me re: API endpoints, but I don't fully understand what we would be testing for #169 and #170, which is why I didn't ask @watchtheblur to write any (I thought they weren't necessary).

#169 involves a single `startapp` command that creates a bunch of files that are standard to Django, so am not sure what we would test.

#170 creates a model, and from my

[2020-09-08 17:27] bengineerdavis commented on #111
That makes sense that we don't want to reinvent the wheel if we don't have
to. I got the impression that the settings.py change for the environmental
variable you found hadn't been changed, or was that already pre-configured?

On Tue, Sep 8, 2020 at 1:56 AM BethanyG <notifications@github.com> wrote:

[2020-09-08 22:59] BethanyG commented on #179
@lpatmo  -- agree that #169 is not really worth writing a test for.  For some reason, I was thinking that one included adding in the app to settings and or registering it with the framework.  But it doesn't -- it is only creating boilerplate.  So yeah -- no tests needed.

On the other hand (as you can see from issue #98 assigned to me) I do think model tests are useful.  And I suspect they'll be e

[2020-09-09 04:37] lpatmo commented on #179
👀  Ohhh, you put some great links into #98! That first one there (https://medium.com/@dwernychukjosh/testing-models-with-django-using-pytest-and-factory-boy-a2985adce7b3) makes a lot of sense, thanks.

I feel like I need to finish up GH Actions deployment first and get a handle on writing tests and serializers for the projects API endpoint before looking into https://pypi.org/project/django-test-m

[2020-09-09 06:17] lpatmo commented on #179
@watchtheblur Partly inspired by that [testing models article](https://medium.com/@dwernychukjosh/testing-models-with-django-using-pytest-and-factory-boy-a2985adce7b3), I started writing out some factories tests for our models.py file in this branch: `issue-179-model-tests`

The diff so far: https://github.com/codebuddies/backend/compare/issue-179-model-tests?expand=1

Some todos:
- add more asser

[2020-09-09 18:58] BethanyG opened #180 "[New User Registration] Validation Email Text"
**_`Logging this as a backend issue since the email is being sent/triggered on the backend.`_**
**_`Will cross-post in FE repo for tracking.`_**

# Create Text for New User Registration Email Verification

The Codebuddies New User Registration flow will be requiring that a user verify the email they used for signup.  The current default email being sent  is insufficient/inaccurate, and should be e

[2020-09-09 20:07] BethanyG opened #182 "[Tooling] Consider Upgrading to Django 3.0 and DRF 3.11"
With Django 3.11 in mainstream release, and [LTS for Django 2.2](https://www.djangoproject.com/download/#supported-versions) series due to end in 2022, we might want to research/consider upgrading as far as we can while we are still pre-production deployment for the site.  Better to take the compatibility hits now than try to do so after we have users and data to support.

**A quick rundown of Lib

[2020-09-10 01:28] lpatmo commented on #182
👏 👏 👏

So in terms of testing this out, I imagine the process could be:
- create a new branch
- upgrade Django to 3.11
- test out which dependencies break

[2020-09-10 01:37] BethanyG commented on #182
Yup!  Agree.  But I think I want to figure out the Registration flow **before** we do that - it is feeling really messy and brittle, and I don't want to add to the mess of things that might break.  Thoughts?

[2020-09-10 01:38] lpatmo commented on #182
Yeah, definitely. Let's figure out registration first!

[2020-09-10 01:42] lpatmo commented on #79
Update: Tests for #169 weren't needed, but I started writing out some tests for the model (from #170) in this issue: https://github.com/codebuddies/backend/issues/179

[2020-09-16 06:45] BethanyG commented on #131
Commenting to hold off the bot.  _There are not enough hours in the day, sadly._

[2020-09-18 19:30] chris48s commented on #131
Do you mean to set something up, or review the updates?
Enabling dependabot is now a one-click action in GitHub:

![Screenshot at 2020-09-18 20-19-46](https://user-images.githubusercontent.com/6025893/93637613-c5d72c80-f9ed-11ea-83d2-6195ad4a8af5.png)

[2020-09-18 20:10] BethanyG commented on #131
@chris48s  - I mean a little of both.  See Issue https://github.com/codebuddies/backend/issues/182, for one piece - but that issue is already out of date, since I've had to rip out `drf-jwt` and implement `django-simpieJWT` instead because it is the only library that `dj-rest-auth` supports at the moment.

So it sorta feels like turning on dependabot is the least (or at least the most straightforw

[2020-09-18 20:49] chris48s commented on #131
Yeah while you haven't got anything deployed in front of real users, I suppose it makes relatively little difference at this stage if reviewing the bump PRs is going to detract from getting to a stage where you can _actually ship something_ :)

Re: django versions:
With django sites I tend to track LTS versions only, so I will upgrade to patch releases on 2.2.x and then jump from 2.2.x to 3.2.x bu

[2020-09-23 01:33] #97 closed

[2020-09-24 06:23] BethanyG commented on #118
@lpatmo  I'm tagging this as being closed by #187.

I think we should log a new "User Profile"  issue tied to the `Hangouts` endpoint, and what **extended user profile** info we'd like to track there.  Also think we need a "change my profile" flow mapped out/logged as an issue.

[2020-09-24 06:53] BethanyG opened #188 "[API "DEV" Landing Page] Need to Update base.html with New Registration Endpoints/Flow"
Now that we'e decided to implement a Registration and Login flow and re-organize our auth endpoints, we'll need to update the "Dev" landing page that displays info at **`localhost:8000`** for the backend.

The HTML file to update is **`core/templates/base.html`**, and it needs the following information.  The `docker-compose` commands can remain as-is:

**Django Admin Interface and Login:**

-  **`

[2020-09-24 07:05] BethanyG opened #189 "[Documentation] Need to Add/Alter API Endpoint Instructions, etc. to Reflect New Auth Flow"
Now that we'e decided to implement a Registration and Login flow and re-organize our auth endpoints (PR #187), post-merge we'll need to update our documentation to show the endpoint & functionality changes:

1.  Registration will now **require an email**
2.  A user will not be able to sign in without a **validated email**
3.  Email addresses are validated through an email with a **special link** c

[2020-09-24 07:24] BethanyG opened #190 "[New User Registration] Reset Password Email Link Contains Incorrect URI"
Currently (as of PR #187 ) , when a user visits `api/v1/auth/password/reset/` and POSTs their email address, a "password reset email" is sent containing a clickable URI that will send a user to a **password reset form**.  The dev URI is **incorrect**, and will need to point to whichever React component on the front end that is going to handle password reset.

**Current URI is:**

**`http://django.

[2020-09-24 07:31] BethanyG opened #191 "[New User Registration] Verify Email Address Email Link Contains Incorrect URI"
Currently (as of PR #187 ) , when a user visits `api/v1/auth/registraion/` and POSTs their details to register, a "verify your email address email" is sent containing a clickable URI that will send a user to a **validate your email form**.  The dev URI is **incorrect**, and will need to point to whichever React component on the front end that is going to handle email address verification.

**Curre

[2020-09-24 07:46] BethanyG opened #192 "[New User Registration][Testing] New Registration & Auth Flow Broke "Users" App Tests"
The changes in PR #187 once merged will cause the tests under `users/tests/` to mostly fail (6 out of 9).

Currently, these are marked **skip**, but need to be re-written to work (or the app needs to change to make them work).

Failing tests are:

     -   users/tests/test_models.py:7 test_user_get_absolute_url
     -   users/tests/test_urls.py:8 test_detail
     -   users/tests/test_urls.py:16 te

[2020-09-25 00:30] BethanyG commented on #192
One overarching question here is _do we even want this as an endpoint??_  `userauth` has all of the registration flow and email verifications, should we just add to it for the user profile, or park that functionality here in `users`??

[2020-09-25 00:31] BethanyG commented on #180
Please also see #191, which covers specifically the URI that's sent in this email, and is driven by several configuration settings.

[2020-09-25 00:33] BethanyG commented on #119
@lpatmo hate to "bump" this..but if we are going to work on it, now is probably a good time..before we get overrrun in Hackoberfest.  😄

[2020-09-26 04:14] BethanyG commented on #161
## WIP/Proposed JSON for Proposed_Hangouts/Confirmed_Hangouts Endpoint

### Context:

This is me trying to think through what we need.  This is the returned **JSON from the serializer**, and would reflect both the `hangouts_hangout` table, as well as associated many-to-many  and one-to-many relationships with:
-   `tagging_taggeditem`
-  `resources_resource`
-  `hangouts_hangout_responses`
-  `han

[2020-09-26 04:16] BethanyG commented on #161
_oof_ the more I look at this, the more I think we need associated views:

1.  Confirmed Hangouts - with only minimal info
2.  Unconfirmed Hangouts - with only minimal info
3.  Hangouts w/pending and confirmed RSVPs
4.  Unconfirmed Hangouts with responses
5.  Hangout details -- one Hangout with all associated info

Pretty sure I am leaving stuff out.  _What am I leaving out??_

[2020-09-26 04:20] BethanyG commented on #164
Ok.  Clearly more work to do, but here is a first shot at a `hangouts_hangout` table:

[code]

[2020-09-26 04:21] BethanyG commented on #164
If this looks "good enough", we can quickly implement this so we can start iterating on other pieces.

[2020-09-26 04:26] BethanyG commented on #164
I will need to add several  "intersection" tables for the `many-to-many` relationships between
-   `users_user` (_connected through a `hangouts_hangout_responses` table_)
-  `resources_resource` (_connected through a `hangouts_hangout_resourcess` table_).

Currently, I am thinking we will also need a child table for related sessions, `hangouts_hangout_session`.

[2020-09-26 05:13] BethanyG commented on #164
So this is pretty rough, but here is a first pass at a `HangoutResponses` model.  Some of my open questions:

1.  Do we want **all types** of response here?  e.g.  do we want to store the _messages of interest_, the _requests to join_, and the _confirmed RSVPs_ all in one table?  What happens when a hangout moves from `"proposed"` to `"confirmed"`?  DO the statuses get updated?? Do expressions of

[2020-09-26 05:22] BethanyG commented on #164
Related Resources and Related Sessions models:

[code]

[2020-09-26 05:28] BethanyG commented on #164
Looking at this one last time, I am not sure if we want to track RSVPs in `hangouts_hangout` proper (as noted in the pending, and rsvp keys to `users_user`  **OR** if we just one one reference to `hangouts_hangout_responses` in `hangouts_hangoiut`.. and then we link to users in the `hangouts_hangout_responses` table.  **_sigh_**.

[2020-09-26 16:30] #157 closed

[2020-09-26 21:23] #110 closed

[2020-09-26 21:23] #113 closed

[2020-09-26 21:23] #114 closed

[2020-09-26 21:23] #118 closed

[2020-09-28 07:24] lpatmo commented on #164
Took a look at your [draft PR ](https://github.com/codebuddies/backend/pull/193/files)-- first, THANK YOU for leaving really clear inline comments for the fields! Looks great as a first pass!

I'm a little confused about the `HangoutSessions` model -- from what I understand, it's meant to contain related hangouts of a given hangout. Do we imagine that a user will select related hangouts to a hango

[2020-09-28 08:12] lpatmo commented on #161
😅  Very tough to do this without having designs to look at!! Thanks for starting the conversation. I agree it's a good idea to break this down into views!

Here are the endpoints I'm thinking right now would be good to have, assuming we can continue to pass in params:

### **GET /hangouts?status=pending**
This is essentially a list of all the "proposed" hangouts that'll be visible on codebuddies.o

[2020-09-29 06:41] BethanyG commented on #22
Putting this on hold for a bit while we thin through hangouts and tagging and weather or not we will be using something like haystack or something else.

[2020-09-29 07:41] BethanyG commented on #164
So my thought with the `hangoutsessions` table was (and I am probably over-thinking it) the scenario where a study group agrees to meet every week or 5 times over two months, etc.  So the scheduler would click "this hangout is recurring" (_or some such_) in the UI, then pick the dates (and possibly times) for follow-on sessions.  The title and topic and maybe even the resources would stay the same

[2020-09-29 07:45] BethanyG commented on #164
#scheduled - status as soon as the hangout gets a PATCH with a date
#rescheduled - status when a hangout already has a date, but then gets a PATCH with a new date (? Note: imo this can be a later-down-the-line feature implementation)
#stale - no PATCH updates (i.e. status changes) to the hangout for two weeks?
#hold - not sure
#closed - host or admin takes this step to "delete" a hangout, meaning

[2020-10-02 04:49] #81 closed

[2020-10-10 03:01] BethanyG commented on #79
_Not liking how you call me on my BS, stale bot!_  Removing the stale -- we are still working on this!!

[2020-10-10 03:02] BethanyG commented on #182
_Not stale.  Just baking...._

[2020-10-13 01:50] #175 closed

[2020-10-23 19:20] BethanyG commented on #139
@lpatmo  - are you done with this issue, or should we keep it open?

[2020-10-24 04:01] lpatmo commented on #139
Sorry this issue is taking forever; been a stressful couple of weeks. :( Made some progress last month, but current status is: https://github.com/codebuddies/backend/discussions/177#discussioncomment-84002. I'll keep that thread updated!

[2020-10-24 19:53] BethanyG commented on #162
Still working on this.

[2020-10-24 19:53] BethanyG commented on #165
Still open.

[2020-10-24 19:56] BethanyG commented on #155
@lpatmo Do we still need this, or is it OK to close??

[2020-10-24 19:57] BethanyG commented on #88
@lpatmo @nuageklow  -- can we close this, or is more work needed?

[2020-10-24 20:14] lpatmo commented on #179
Forgot to close this issue after merging in https://github.com/codebuddies/backend/pull/184

[2020-10-24 20:14] #179 closed

[2020-10-24 20:23] lpatmo commented on #155
Marked this as a Hacktoberfest issue, since it is a pretty easy PR to add some documentation to the README.

[2020-10-24 20:25] lpatmo commented on #190
Will update with the right URL when https://github.com/codebuddies/frontend/pull/163 is merged in.

[2020-10-24 21:23] lpatmo commented on #88
@nuageklow told me she was working on this a while ago, but at this point I think would be easier if I quickly wrapped this up since the long thread makes following along a little confusing!

TODO:
- [ ] Update README to follow the format in https://docs.google.com/document/d/1F7EJWK8HTTUGpw7g35I5Hs9nktaSLtd-BkCTWbVy07Y/edit
- [ ] Move all contributing instructions over to CONTRIBUTING.md

[2020-10-24 22:46] lpatmo commented on #155
Included these changes in https://github.com/codebuddies/backend/pull/195!

[2020-10-24 22:46] #155 closed

[2020-10-25 00:37] BethanyG commented on #188
_so annoying, stale bot...you are supposed to read my mind!_

[2020-10-27 10:44] nuageklow commented on #88
i apologize for dragging this very long! @lpatmo   maybe i can pass the files i've already done to you soon hopefully that can save you sometime.

[2020-10-27 13:43] lpatmo commented on #88
No worries @nuageklow! This was not the easiest PR since there was a lot of content to navigate :P I opened up a PR at https://github.com/codebuddies/backend/pull/195 over the weekend, if you'd like to do a quick review/approve it. Thanks!

[2020-10-28 20:59] BethanyG commented on #161
Keeping open, since work is ongoing.

[2020-11-05 08:30] #22 closed

[2020-11-09 20:54] billglover opened #196 "Add DigitalOcean to the list of sponsors in the README"
**Current:**
It looks like DigitalOcean has been left off the list of sponsors in the README. I believe they still sponsor hosting.

**Expected:**
DigitalOcean logo (and link) is listed on the README under the Sponsorship section.

[2020-11-10 05:28] lpatmo commented on #196
Thank you, that's a good catch! 😅  I included this in https://github.com/codebuddies/backend/pull/195 since I happened to have a PR open to update the README right now.

[2020-11-10 05:36] lpatmo commented on #88
Issue closed by https://github.com/codebuddies/backend/pull/195 :)

[2020-11-10 05:36] #88 closed

[2020-11-10 05:37] lpatmo commented on #196
Closed by https://github.com/codebuddies/backend/pull/195

[2020-11-10 05:37] #196 closed

[2020-11-15 21:54] BethanyG commented on #82
@lpatmo   are you still working on this?  Should we remove the "stale" tag?

[2020-11-16 01:12] lpatmo commented on #82
Thanks for reminding me! @bengineerdavis actually has the latest on this in a branch, if I remember correctly. I have a pretty good idea of how to make changes in the API now after finishing the tutorial and helping Ben and J with this, but I'm not actively working on this ticket anymore -- I will un-assign myself.

[2020-11-23 20:22] BethanyG commented on #162
Still open.

[2020-11-23 20:22] BethanyG commented on #191
Still open.

[2020-11-23 20:23] BethanyG commented on #168
Still open.

[2020-11-23 20:23] BethanyG commented on #166
Still open.

[2020-11-23 20:23] BethanyG commented on #63
Still open.

[2020-11-23 21:32] BethanyG commented on #190
Still open.

[2020-11-25 17:08] #131 closed

[2020-11-25 18:16] BethanyG commented on #189
Still open.

[2020-11-25 18:17] BethanyG commented on #192
still open

[2020-11-25 18:17] BethanyG commented on #180
Still open.

[2020-11-25 18:18] BethanyG commented on #167
Still open.

[2020-11-25 18:18] BethanyG commented on #163
Still open.

[2020-11-25 18:18] BethanyG commented on #160
Still open.

[2020-11-25 18:19] BethanyG commented on #84
@lpatmo  @watchtheblur   Is this still being worked on, or does it need to be closed?

[2020-11-25 18:20] BethanyG commented on #119
@lpatmo  Is this something we still need/want to work on, or do we close this?

[2020-11-25 20:44] lpatmo commented on #119
Sorry, this is still on my list! (Will try to get to this after I finish taking notes on Bill's deployment findings)

[2020-11-25 20:47] lpatmo commented on #84
Looks like `osprojects/admin.py` file got merged in at one point, but in any case we can close this particular issue! :)

[2020-11-25 20:47] #84 closed

[2020-11-27 23:20] BethanyG commented on #161
Still open.

[2020-11-30 04:40] #139 closed

[2020-11-30 17:32] BethanyG commented on #164
still open.

[2020-12-10 09:55] BethanyG commented on #79
@lpatmo - Are we going to actually add a projects endpoint at this stage, or can we just close this?

[2020-12-10 09:56] BethanyG commented on #182
Still open.

[2020-12-15 02:31] BethanyG commented on #98
still open.

[2020-12-16 23:28] BethanyG commented on #82
still open.

[2021-02-08 19:33] BethanyG commented on #79
Still open.  Just sleeping.

[2021-02-08 19:33] BethanyG commented on #182
Still open. Just sleeping.

[2021-02-15 21:26] #82 closed

[2021-05-02 19:16] stain88 opened #198 "[Other] Update GitDuck to Duckly"
## Context

Following their rebranding, references to CodeBuddies sponsor should be updated

## Acceptance Criteria
- [ ] All references to GitDuck updated to Duckly

[2021-06-30 00:35] #63 closed

[2021-07-07 16:40] stain88 commented on #198
Done by #199, so closing

[2021-07-07 16:40] #198 closed

[2021-10-04 04:35] e7ChatsApp opened #202 "[Bug]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-10-04 04:35] e7ChatsApp commented on #202
Describe the bug
A clear and concise description of what the bug is.

To Reproduce
Steps to reproduce the behavior:

Go to '...'
Click on '....'
Scroll down to '....'
See error
Expected behavior
A clear and concise description of what you expected to happen.

Screenshots
If applicable, add screenshots to help explain your problem.

Desktop (please complete the following information):

OS: [e.g. iO

[2021-10-04 04:49] e7ChatsApp opened #203 "[Documentation]"
## Context

## Acceptance Criteria
- [ ]
- [ ]

[2021-10-04 04:50] #202 closed

[2021-10-04 04:50] #203 closed

[2021-10-04 04:50] e7ChatsApp opened #204 "[Feature]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-04 04:56] #204 closed

[2021-12-22 02:05] #79 closed

[2021-12-22 02:05] #182 closed

[2021-12-28 12:00] tammymiller5 commented on #188
Is this still available to work on? If so, is it possible to assign to me to work on?